.contacts-hero {
    position: relative;
    padding: 100px 20px 0;
    background-image: url(../img/mobile-bg.png);
    background-color: $black;
    background-repeat: no-repeat;
    background-position: 100% 105px;
}

@media screen and (min-width: 580px) {
    .contacts-hero {
        background-image: none;
    }
}

.contacts-hero__batiskaf {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 5%;
    display: none;
    width: 385px;
    height: auto;
}

.contacts-hero__batiskaf img {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
}

.contacts-hero__container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 480px) {
    .contacts-hero__container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contacts-hero__container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .contacts-hero__container {
        width: 100%;
    }
}

@media (min-width: 1350px) {
    .contacts-hero__container {
        width: 100%;
    }
}

@media (min-width: 1710px) {
    .contacts-hero__container {
        width: 100%;
    }
}

.contacts-hero__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.contacts-hero__row > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.contacts-hero__col {
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .contacts-hero__col {
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-hero__col {
        padding-bottom: 85px;
    }
}

.contacts-hero__col--content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 580px) {
    .contacts-hero__col--content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-hero__col--content {
        padding-left: 0;
        padding-right: 0;
        padding-top: 145px;
    }
}

.contacts-hero__col--photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

@media screen and (min-width: 580px) {
    .contacts-hero__col--photo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contacts-hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    color: #fff;
    font-family: $inter;
}

.contacts-hero__content > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.contacts-hero__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1350px) {
    .contacts-hero__text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contacts-hero__text p {
    display: none;
    max-width: 370px;
    font-size: 18px;
    font-weight: 400;
    color: #2ebd89;
    font-family: $inter;
}

@media screen and (min-width: 1350px) {
    .contacts-hero__text p {
        display: block;
    }
}

.contacts-hero__title {
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 1.1;
    max-width: 480px;
    font-family: $inter;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .contacts-hero__title {
        font-size: 32px;
    }
}

@media screen and (min-width: 1710px) {
    .contacts-hero__title {
        font-size: 48px;
    }
}

.contacts-hero__contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 2;
    @include flex;
    @include dir-col;

    .white-btn {
        margin: auto;
    }
}

@media (min-width: 1350px) {
    .contacts-hero__contacts {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.contacts-hero__list {
    margin-bottom: 30px;
}

.contacts-hero__item {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .contacts-hero__item {
        font-size: 20px;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-hero__item {
        font-size: 24px;
    }
}

.contacts-hero__item--no-margin {
    margin-bottom: 0;
}

.contacts-hero__item--big-margin {
    margin-bottom: 60px;
}

.contacts-hero__descr {
    margin-right: 20px;
    width: 90px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: 400;
    font-family: $inter;
    text-align: right;
    color: $green;
}

@media screen and (min-width: 1350px) {
    .contacts-hero__descr {
        width: 115px;
    }
}

.contacts-hero__data {
    width: 100%;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    font-family: $inter;
}

.contacts-hero__photo {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 580px) {
    .contacts-hero__photo {
        position: absolute;
    }
}

.contacts-hero__name-descr {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 40px;
    width: 100%;
    max-width: 200px;
}

@media screen and (min-width: 580px) {
    .contacts-hero__name-descr {
        top: 100px;
        right: 0;
        left: auto;
    }
}

.contacts-hero__name-descr--desktop {
    display: none;
}

@media screen and (min-width: 580px) {
    .contacts-hero__name-descr--desktop {
        display: block;
    }
}

.contacts-hero__name-descr--mobile {
    display: block;
}

@media screen and (min-width: 580px) {
    .contacts-hero__name-descr--mobile {
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .contacts-hero__name-descr {
        max-width: 200px !important;
    }
}

.contacts-hero__name {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-family: $inter;
    color: #fff;
}

@media screen and (min-width: 1350px) {
    .contacts-hero__name {
        font-size: 24px;
    }
}

.contacts-hero__post {
    display: block;
    font-size: 14px;
    font-family: $inter;
    color: $green;
}

.contacts-hero__post::before {
    content: "";
    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $green;
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
}

@media screen and (min-width: 580px) {
    .contacts-hero__post::before {
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-hero__post {
        font-size: 16px;
    }
}

.contacts-hero__img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    -webkit-transform: translate(80px, 25px);
    transform: translate(80px, 25px);
}

@media screen and (min-width: 580px) {
    .contacts-hero__img {
        max-height: none;
    }
}

@media screen and (min-width: 768px) {
    .contacts-hero__img {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}

.contacts-hero__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom;
    object-position: bottom;
}

.contacts-hero__cloud {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 10px;
    width: 180px;
    height: 100%;
    font-family: $inter;
}

@media screen and (min-width: 580px) {
    .contacts-hero__cloud {
        top: -30px;
        left: -40px;
    }
}

@media screen and (min-width: 768px) {
    .contacts-hero__cloud {
        top: -160px;
        left: -50px;
        width: 240px;
    }

    .contacts-hero__contacts .green-btn {
        margin: 0;
        margin-left: 100px;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-hero__cloud {
        left: 50px;
        top: -220px;
    }

    .contacts-hero__title {
        font-size: 38px;
        max-width: 380px;
    }
}

@media screen and (min-width: 1600px) {
    .contacts-hero__title {
        font-size: 48px;
        max-width: 440px;
    }
}

.contacts-hero__cloud--desktop {
    display: none;
}

@media screen and (min-width: 580px) {
    .contacts-hero__cloud--desktop {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .contacts-hero__cloud--desktop {
        opacity: 1;
    }
}

.contacts-hero__cloud--mobile {
    display: block;
}

@media screen and (min-width: 580px) {
    .contacts-hero__cloud--mobile {
        display: none;
    }
}

.contacts-hero__cloud-text {
    font-size: 30px;
    font-weight: 400;
}

@media screen and (min-width: 580px) {
    .contacts-hero__cloud-text {
        font-size: 34px;
    }
}

.contacts-descr {
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $green;
    background-image: url(../img/fish-small.svg);
    background-repeat: no-repeat;
    background-position: 20px 95%;
    background-size: 55px auto;
}

@media screen and (min-width: 480px) {
    .contacts-descr {
        padding-top: 80px;
        padding-bottom: 50px;
        background-position: 20px 5%;
    }
}

@media screen and (min-width: 992px) {
    .contacts-descr {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-descr {
        background-position: 20px 50%;
    }
}

.contacts-descr__fish {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    display: none;
}

@media screen and (min-width: 480px) {
    .contacts-descr__fish {
        top: 50%;
        bottom: auto;
        left: 60%;
        display: block;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 992px) {
    .contacts-descr__fish {
        top: 50px;
        -webkit-transform: none;
        transform: none;
    }
}

@media screen and (min-width: 1350px) {
    .contacts-descr__fish {
        top: 0;
    }
}

.contacts-descr__container {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 480px) {
    .contacts-descr__container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .contacts-descr__container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .contacts-descr__container {
        width: 962px;
    }
}

@media (min-width: 1350px) {
    .contacts-descr__container {
        width: 1320px;
        padding-left: 100px;
    }

    .contacts-descr__text {
        max-width: 60% !important;
    }
}

@media (min-width: 1710px) {
    .contacts-descr__container {
        width: 1680px;
    }
}

.contacts-descr__text {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    font-family: $inter;
}

@media screen and (min-width: 480px) {
    .contacts-descr__text {
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .contacts-descr__text {
        font-size: 24px;
        color: #fff;
    }
}

.contacts-descr__text img {
    margin-top: 20px;
    margin-left: 20px;
}

.contacts-descr__text--mobile {
    display: block;
}

@media screen and (min-width: 992px) {
    .contacts-descr__text--mobile {
        display: none;
    }
}

.contacts-descr__text--desktop {
    display: none;
}

@media screen and (min-width: 992px) {
    .contacts-descr__text--desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.wave {
    position: absolute;
    z-index: -1;
}

.wave--bottom {
    bottom: -44px;
    left: 0;
    width: 2100px;
    height: 44px;
    background-image: url("../img/wave-bottom.svg");
    background-repeat: repeat-x;
    background-size: auto 44px;
}



.wave--top {
    top: -34px;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: url("../img/wave-top.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: auto auto;
}

@media screen and (min-width: 480px) {
    .wave--top {
        background-size: auto auto;
    }
}

@media screen and (min-width: 768px) {
    .wave--top {
        top: -40px;
        width: 10000px;
        height: 42px;
        background-size: auto auto;
    }
}

.wave--dark-top {
    background-image: url("../img/wave-top-white.svg");
}

.wave--dark-bottom {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg enable-background='new 0 0 1700 43.5' viewBox='0 0 1700 43.5' xmlns='http://www.w3.org/2000/svg' color='%23252525'%3E%3Cpath d='m0-43.4c.1.3.1.6.1.9v68.1c1.8 1.1 30.1 17.8 56.6 17.8 27.4 0 56.7-17.8 56.7-17.8s29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.9-17.8 56.9-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8c24 0 49.5-13.7 55.4-17.1v-.8s.2.1.7.4c.4-.2.7-.4.7-.4s28.8 17.6 56.1 17.8c27.2-.3 56.1-17.8 56.1-17.8s.2.1.7.4c.4-.2.7-.4.7-.4v.8c6 3.4 31.4 17.1 55.4 17.1 27.4 0 56.7-17.8 56.7-17.8s29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8 29.3 17.8 56.7 17.8 56.7-17.8 56.7-17.8v-69z' fill='currentColor'/%3E%3C/svg%3E");
}

.contacts-map {
    position: relative;
    background: $black;
}

.contacts-map__wave {
    position: relative;
    z-index: 1;
}

.embed-responsive {
    position: relative;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}

.embed-responsive::before {
    content: "";
    padding-top: 56.25%;
    display: block;
}

.embed-responsive .contacts-map__init,
.embed-responsive iframe,
.embed-responsive video,
.embed-responsive > ymaps {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive--4-3::before {
    padding-top: 75%;
}

.embed-responsive--map::before {
    padding-top: 100%;
}

@media screen and (min-width: 480px) {
    .embed-responsive--map::before {
        padding-top: 60%;
    }
}

@media screen and (min-width: 992px) {
    .embed-responsive--map::before {
        padding-top: 45%;
    }
}

@media screen and (min-width: 1350px) {
    .embed-responsive--map::before {
        padding-top: 35%;
    }

    .contacts-hero__contacts .white-btn {
        margin-left: 130px;
    }
}

.wave {
    position: absolute;
    z-index: -1;
}

.wave-green {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background-image: url("../img/wave-bottom.svg");
    background-repeat: repeat-x;
    background-size: auto 44px;
}

@media screen and (min-width: 480px) {
    .wave-green {
        background-size: auto 35px;
    }
}

@media screen and (min-width: 768px) {
    .wave-green {
        bottom: -40px;
        width: 100%;
        height: 42px;
        background-size: auto 40px;
    }
}

.contacts-map__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (min-width: 992px) {
    .contacts-map__wrapper {
        display: block;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.wave-dark {
    top: 0px;
    left: 0;
    width: 100%;
    height: 68px;
    background-image: url("../img/wave-top.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: auto auto;
}

@media screen and (min-width: 480px) {
    .wave-dark {
        background-size: auto auto;
    }
}

@media screen and (min-width: 768px) {
    .wave-dark {
        top: -40px;
        width: 10000px;
        height: 42px;
        background-size: auto auto;
    }
}

@media screen and (min-width: 768px) {
    .contacts-hero__batiskaf {
        display: block;
    }

    .contacts-hero {
        padding-top: 130px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .contacts-hero__name-descr {
        top: 130px;
        max-width: 180px;
    }
}