.context-page__top {
    background-image: url(../img/bear.png), url(../img/bg2.png), -webkit-gradient(linear, left top, right top, from(#00c6df), to(#00c8e1));
    background-image: url(../img/bear.png), url(../img/bg2.png), -webkit-linear-gradient(left, #00c6df, #00c8e1);
    background-image: url(../img/bear.png), url(../img/bg2.png), linear-gradient(to right, #00c6df, #00c8e1);
    background-repeat: no-repeat;
    background-position: 10px 55%, calc(100% + 460px) 250px, 50% 50%;
    background-size: 160px 220px, auto 1300px, 100% 100%
}

@media screen and (min-width:480px) {
    .context-page__top {
        background-position: 5% 55%, calc(100% + 300px) 100px, 50% 50%
    }
}

@media screen and (min-width:768px) {
    .context-page__top {
        background-image: url(../img/bg2.png), -webkit-gradient(linear, left top, right top, from(#00c6df), to(#00c8e1));
        background-image: url(../img/bg2.png), -webkit-linear-gradient(left, #00c6df, #00c8e1);
        background-image: url(../img/bg2.png), linear-gradient(to right, #00c6df, #00c8e1);
        background-position: calc(100% + 550px) 100%, 50% 50%;
        background-size: auto 100%, 100% 100%
    }
}

@media screen and (min-width:992px) {
    .context-page__top {
        background-position: calc(100% + 300px) 100%, 50% 50%
    }
}

@media screen and (min-width:1350px) {
    .context-page__top {
        background-image: url(../img/bear.png), url(../img/bg2.png), -webkit-gradient(linear, left top, right top, from(#00c6df), to(#00c8e1));
        background-image: url(../img/bear.png), url(../img/bg2.png), -webkit-linear-gradient(left, #00c6df, #00c8e1);
        background-image: url(../img/bear.png), url(../img/bg2.png), linear-gradient(to right, #00c6df, #00c8e1);
        background-position: 50% 45%, calc(100% + 250px) 100%, 50% 50%;
        background-size: 240px 360px, auto 100%, 100% 100%
    }
}

.seo-page__descr .develop-descr::before {
    content: none;
}

.context-page__hero {
    padding-bottom: 80px
}

@media screen and (min-width:480px) {
    .context-page__hero {
        padding-bottom: 0
    }
}


@media screen and (min-width:1350px) {
    .context-page__hero {
        margin-bottom: 0
    }

    .context-hero__buttons .button-hover {
        margin-top: 20px !important;
    }
}

.context-hero__buttons .button-hover{
    margin-top: 20px;
}

.context-hero {
    position: relative;
    padding-bottom: 80px;
    background-size: cover
}

.context-hero__container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1600px
}

.context-hero__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px
}

.context-hero__row > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.context-hero__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

@media (min-width:992px) {
    .context-hero__col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px
    }
}

.context-hero__content {
    position: relative;
    padding-top: 120px;
    max-width: 640px;
    font-size: 20px;
    color: #252525
}

@media screen and (min-width:768px) {
    .context-hero__content {
        padding-top: 160px
    }
}

@media screen and (min-width:1350px) {
    .context-hero__content {
        padding-top: 220px;
            max-width: 680px;
    }
}

.context-hero__title {
    margin-bottom: 25px;
    font-size: 23px;
    line-height: 1;
    font-weight: 700;
    font-family: $inter;
}

@media screen and (min-width:768px) {
    .context-hero__title {
        margin-bottom: 35px;
        font-size: 36px
    }
}

@media screen and (min-width:1350px) {
    .context-hero__title {
        font-size: 48px
    }
}

.context-hero__text {
    margin-bottom: 30px;
    font-size: 14px;
    font-family: $inter;
}

.context-page__next {
    .develop-next__wrapper {
        padding-top: 100px;
    }
}

.context-hero__btn {
    margin-right: 10px;
    margin-bottom: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    color: #fff;
    border: 1px dashed #fff;
    cursor: default;
    padding: 12px 28px;
    border-radius: 35px;
    font-family: $inter;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    &:hover{
        border-color: #252525;
        color: #252525;
    }
}

@media screen and (min-width:1350px) {
    .context-hero__btn {
        margin-right: 10px;
        margin-bottom: 15px;
        padding-right: 25px;
        padding-left: 25px
    }
}


.context-hero__btn.btn--arrow-left {
    margin-top: 105px;
    margin-bottom: 435px;
    padding-left: 100px;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer
}

@media screen and (min-width:768px) {
    .context-hero__btn.btn--arrow-left {
        margin-top: 0;
        margin-bottom: 0
    }
}

.context-hero__btn.btn--arrow-left::before {
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 20px;
    margin-right: 0;
    width: 60px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg enable-background='new 0 0 80.9 29.7' viewBox='0 0 80.9 29.7' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='m2 14.3h76.5v1h-76.5z'/%3E%3Cpath d='m66.5 27.9-.7-.7 12.4-12.4-12.4-12.4.7-.7 13.1 13.1z'/%3E%3C/svg%3E");
    background-size: contain;
    -webkit-transition: .15s;
    transition: .15s
}

@media screen and (min-width:768px) {
    .context-hero__btn.btn--arrow-left::before {
        top: 12px
    }
}

.context-hero__btn.btn--arrow-left::after {
    content: '';
    position: absolute;
    z-index: 0;
    top: 9px;
    left: 20px;
    width: 60px;
    height: 21px;
    opacity: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg enable-background='new 0 0 80.9 29.7' viewBox='0 0 80.9 29.7' xmlns='http://www.w3.org/2000/svg' fill='%23252525'%3E%3Cpath d='m2 14.3h76.5v1h-76.5z'/%3E%3Cpath d='m66.5 27.9-.7-.7 12.4-12.4-12.4-12.4.7-.7 13.1 13.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: .15s;
    transition: .15s
}

@media screen and (min-width:768px) {
    .context-hero__btn.btn--arrow-left::after {
        top: 12px
    }
}

.context-hero__btn.btn--arrow-left:active,
.context-hero__btn.btn--arrow-left:focus,
.context-hero__btn.btn--arrow-left:hover {
    color: #252525;
    background-color: #fff
}

.context-hero__btn.btn--arrow-left:active::before,
.context-hero__btn.btn--arrow-left:focus::before,
.context-hero__btn.btn--arrow-left:hover::before {
    opacity: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg enable-background='new 0 0 80.9 29.7' viewBox='0 0 80.9 29.7' xmlns='http://www.w3.org/2000/svg' fill='%23252525'%3E%3Cpath d='m2 14.3h76.5v1h-76.5z'/%3E%3Cpath d='m66.5 27.9-.7-.7 12.4-12.4-12.4-12.4.7-.7 13.1 13.1z'/%3E%3C/svg%3E")
}

.context-hero__btn.btn--arrow-left:active::after,
.context-hero__btn.btn--arrow-left:focus::after,
.context-hero__btn.btn--arrow-left:hover::after {
    opacity: 1
}

@media screen and (min-width:768px) {
    .context-hero__text {
        margin-bottom: 45px;
        font-size: 18px
    }
}

@media screen and (min-width:1350px) {
    .context-hero__text {
        margin-bottom: 95px;
        font-size: 20px
    }
}

.context-hero__buttons {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: transparent;
    max-width: 580px;
    .div{
        width: 100%;
        display: block;
    }

}

@media screen and (min-width:768px) {
    .context-hero__buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}


.context-hero__img-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transform: translate(255px, 65px);
    transform: translate(255px, 65px)
}

@media screen and (min-width:768px) {
    .context-hero__img-wrap {
        -webkit-transform: translate(295px, 65px);
        transform: translate(295px, 65px)
    }
}

@media screen and (min-width:992px) {
    .context-hero__img-wrap {
        -webkit-transform: translate(535px, 65px);
        transform: translate(535px, 65px)
    }
}

@media screen and (min-width:1350px) {
    .context-hero__img-wrap {
        -webkit-transform: translate(320px, 65px);
        transform: translate(320px, 65px)
    }
}

@media screen and (min-width:1710px) {
    .context-hero__img-wrap {
        -webkit-transform: translate(450px, 65px);
        transform: translate(450px, 65px)
    }
}

.context-hero__img {
    position: relative;
    width: auto;
    min-width: 520px;
    height: auto
}

@media screen and (min-width:480px) {
    .context-hero__img {
        min-width: 650px
    }
}

@media screen and (min-width:992px) {
    .context-hero__img {
        min-width: 955px
    }
}

.context-hero__img::before {
    content: '';
    position: absolute;
    top: 60px;
    left: -50px;
    width: 115px;
    height: 100%;
    background-image: url(../img/seagull.png);
    background-repeat: no-repeat;
    background-size: contain
}

@media screen and (min-width:768px) {
    .context-hero__img::before {
        top: 120px;
        left: -100px;
        width: 180px
    }
}

@media screen and (min-width:1350px) {
    .context-hero__img::before {
        left: -120px
    }
}

.context-hero__img img,
.design-hero__img img {
    max-width: 100%;
    height: auto;
    font-family: "object-fit:contain";
    -o-object-fit: contain;
    object-fit: contain
}




.context-page__bg-wrap {
    background-color: $green
}

.context-page__site {
    position: relative;
    padding-bottom: 45px;
    background-color: $green;
    margin-top: 420px;
}

@media screen and (min-width:768px) {
    .context-page__site {
        padding-bottom: 200px;
        background-color: transparent;
        margin-top: 0;
    }
}

@media screen and (min-width:992px) {
    .context-page__site {
        padding-bottom: 300px
    }
}

@media screen and (min-width:1350px) {
    .context-page__site {
        padding-bottom: 200px
    }
}

.context-site,
.context-site__container {
    position: relative;
    padding: 0 20px
}

.context-site__container {
    z-index: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px
}

.context-site__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: $inter;
}

@media screen and (min-width:768px) {
    .context-site__title {
        margin-bottom: 45px;
        font-size: 36px
    }
}

@media screen and (min-width:1350px) {
    .context-site__title {
        margin-bottom: 95px
    }
}

.context-site__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px
}

.context-site__row > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.context-site__col--content {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 30px;

    .drop-list {
        margin-bottom: 25px;
    }
}

@media (min-width:768px) {
    .context-site__col--content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
        padding-left: 20px;
        padding-right: 20px
    }
}

.context-site__col--iceberg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

@media (min-width:768px) {
    .context-site__col--iceberg {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (min-width:768px) {
    .context-site__col--iceberg {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
}

.context-site__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 25px
}

.context-site__list > * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

@media screen and (min-width:768px) {
    .context-site__list {
        margin-bottom: 0;
        width: 90%
    }
}

@media screen and (min-width:992px) {
    .context-site__list {
        width: 100%
    }
}

.context-site__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px
}

@media (min-width:992px) {
    .context-site__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (min-width:768px) {
    .context-site__item {
        padding-top: 0;
        padding-bottom: 40px
    }
}

.context-site__item::before {
    content: '';
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px)
}

@media screen and (min-width:768px) {
    .context-site__item::before {
        display: none
    }
}

.context-site__item:last-child::after {
    content: '';
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px)
}

@media screen and (min-width:768px) {
    .context-site__item:last-child::after {
        display: none
    }
}

.context-site__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px
}

.context-site__item-title::after {
    content: '+';
    font-size: 30px;
    font-weight: 300;
    color: #fff
}

@media screen and (min-width:768px) {
    .context-site__item-title::after {
        display: none
    }
}

.context-site__item-title.is-active::after {
    content: '-'
}

.context-site__item-text {
    padding-top: 25px;
    display: none;
    font-size: 14px
}

@media screen and (min-width:768px) {
    .context-site__item-text {
        display: block;
        font-size: 16px
    }
}

.context-site__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    color: #fff;
    border-color: #fff
}

.context-site__btn:active,
.context-site__btn:focus,
.context-site__btn:hover {
    color: #252525;
    background-color: #fff
}

.context-site__batiskaf,
.design-hero::before {
    position: absolute;
    z-index: 2;
    bottom: -320px;
    left: 0;
    display: none;
    width: 30%
}

@media screen and (min-width:992px) {
    .context-site__batiskaf {
        display: block
    }
}

.context-site__batiskaf-wrap {
    width: 515px;
    height: 300px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg enable-background='new 0 0 385 251' viewBox='0 0 385 251' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23252525'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m16.9 152c-1.7 1.1-2 3-1.2 4.6v.1c2 5.3 9.7-.2 6.4-4.1-1.2-1.6-3.5-1.6-5.2-.6z'/%3E%3Cpath d='m7.6 147.8c-1.1.5-1.5 1.9-1.3 3 .2 1 .8 1.8 1.7 2.1.6 0 1-.1 1.5-.2 1.1-.7 1.6-2.1 1.3-3.4-.3-1.4-1.9-2-3.2-1.5z'/%3E%3Cpath d='m39.7 147c-2.6 1.8-3.5 6.3-1.6 8.8.3.6.7 1.1 1.2 1.5.4.4.8.7 1.4 1 1.8.7 3.9.3 5.6-.5 1.9-.9 3.3-2.4 4-4.4.6-1.9.1-4-1.3-5.4-2.3-2.3-6.6-2.8-9.3-1zm2.4 8.3h-.1c-.1 0-.2-.1-.3-.1s-.1-.1-.2-.1c-.1-.1-.2-.1-.3-.2-.4-.4-.6-.9-.2-1.5.3-.4.8-.5 1.3-.5.9.3 1.7.8 1.5 1.6-.1.7-1 .9-1.7.8zm6.1-6.4c-.6-.5-1.4-.8-2.2-.9-.9-.5-1.9-.8-2.9-.9h.5c1.7 0 3.5.6 4.6 1.8z'/%3E%3Cpath d='m3.6 153.6c-1 .1-1.7 1.1-1.8 2 0 .5.2.9.5 1.2 0 0 0 0 .1.1.1 0 .1.1.2.1h.1s.1 0 .1.1h.1.1.1c.2 0 .3.1.5.1s.4 0 .5 0h.1c.7-.1 1.4-.5 1.6-1.3.6-1.2-1-2.5-2.2-2.3z'/%3E%3Cpath d='m25.7 147.3c-.1.4-.2.8-.2 1.3-.7 2.2 1.3 3.9 3.1 4.4 2.4.6 5.1-.7 5.5-3.9.3-2.6-1.5-4.4-3.4-4.8-2.1-.5-4.3.5-5 3zm3 2.4c0-.1 0-.1 0-.2s0-.1 0-.2c0-.7.8-.6 1.2-.3.3.2.3.5 0 .7-.1.2-1.2.4-1.2 0zm-1.2-3.4c-.1.2-.1.3-.1.5-.5.3-.9.8-1.2 1.3.2-.7.7-1.3 1.3-1.8zm4.3-.4c-.7-.4-1.6-.7-2.4-.6.8-.2 1.7-.1 2.4.6z'/%3E%3C/g%3E%3Cpath d='m162 147.4c1.8 0 3.2-.3 4.1-1 .8-.6 1.2-1.4 1.2-2.4 0-2.6-2.5-3.2-4.6-3.2v-.7.7c-1 0-1.8 0-2.5.1v6.5z'/%3E%3Cpath d='m383.2 153.9c-.6-1.9-.2-3.9-.4-5.8-.1-1.4.2-2.8 0-4.2-.4-3.2-.9-6.5-2.1-9.5-.4-.9-.9-1.8-1.1-2.8-.6-2.8-1.6-5.5-3.1-7.9-.7-1.2-1.4-2.5-1.9-3.8-.4-.8-.4-1.7-.7-2.4-.3-.6-.7-1.2-1.1-1.8-1.2-2.1-2.5-4-4.3-5.6-.6-.5-1.2-1.1-1.7-1.7-2.4-2.5-4.8-4.9-7.3-7.4-1-1-2-1.9-3-2.7-1.3-1-2.7-1.9-4-2.8-1-.7-2-1.4-3.1-2-.9-.5-1.8-.9-2.7-1.4-2.6-1.4-5.1-2.9-7.7-4.4-1.4-.7-2.8-1.3-4.2-2-2.2-1-4.4-2.2-6.6-3.1-2-.9-4.1-1.6-6.1-2.4-1.3-.5-2.6-1-3.9-1.4s-2.8-.4-4-1.1c-.3-.2-.8-.2-1.2-.2-2.4-.4-5 0-7.2-1.2-.1-.1-.4.1-.7.2-.2.1-.5.2-.7.2-1.3-.1-2.7-.3-4-.4-.4 0-.7.3-1.1.4h-.3c.1-.3.2-.6.4-.9-2.3-.3-4.5-.6-6.8-.9-.1-.9-.4-1.9-.1-2.6.4-1.3.5-2.6.3-4-.2-2.8-.6-5.5-2.3-7.8-.3-.5-.6-1.1-1-1.5-.7-.7-1.5-1.3-2.3-2-1-.8-2-1.7-3.3-2.1-.9-.3-1.7-.5-2.3-1.3-.2-.3-.9-.4-1.4-.4-.6-.1-1.3 0-2 0 0-.5 0-.8 0-1.2.2-1.9-.2-2.3-2.1-2.4-1.5-.1-3-.3-4.6-.5.1-1.1.2-2.1.2-3.1 0-4 .1-8.1.1-12.1 0-1.4.1-2.8 0-4.2-.1-.9 0-1.8.4-2.6.2-.4.3-.8.3-1.2.1-.6.2-1 .8-1.1.2 0 .4-.2.5-.3.1-.8.8-.9 1.3-1 .8-.2 1.6-.4 2.4-.5 1.6-.2 3.2-.3 4.8-.5.1.2.2.3.2.5 0 .3.1.7.1 1 0 1.3.3 1.7 1.5 1.5 1.6-.2 3.2-.3 4.8.2.7.2 1.4-.4 1.1-1.1-.5-1.7-.5-3.4-.5-5.1 0-1.6.1-3.2.2-4.8 0-.7-.2-1.5 0-2.2.2-1.1.2-2.2 0-3.3-.1-.9-.1-1.7.2-2.5.3-1-.1-1.7-1-1.8-1.4-.2-2.8-.2-4.3-.4-.5 0-.9.1-1.1.6-.4.8-.8 1.7-1.2 2.7-1.4.1-3 .2-4.7.3-1.1.1-2.1.2-3.2.3-1.3.1-2.6.2-3.8.4-1.5.3-3.1.6-4.6 1-.6.1-1.2.3-1.7.7-.9.6-1.7 1.3-2.6 1.8-1.4.9-2.6 2-3.2 3.5-.1.2-.2.4-.3.5-1.3.7-1.2 1.8-.9 3 0 .1 0 .3-.1.4-.2 0-.5-.1-.5-.1-.1.4-.3.7-.3 1.1 0 2.8.1 5.6.2 8.4 0 1 .2 2.1-.7 2.9-.1.1 0 .3 0 .4h.7c-.1 5.8.3 11.5-.5 17.1-1.2-.1-2.4-.1-3.6-.2-.7 0-.9.3-1 .9-.1 1-.2 1.9-.3 2.9-1.1.1-2.1.1-3 .3-1.1.2-1.4.2-1.4-1-.1-1.8-.1-3.6-.2-5.4 0-.5-.1-1.1-.4-1.6-1.3-2.2-3.5-3.3-5.6-4.5-.8-.4-1.7-.6-2.5-1.1-1.8-1.1-3.9-1.4-5.9-2-1.2-.4-2.5-.5-3.7-.7-2-.3-3.9-.5-5.9-.6-1.1-.1-2.3 0-3.4 0-.1-.4-.1-.7-.1-.9-.2-1.2 0-1.5 1.3-1.5h6.9c1.3 0 2.2-.6 2.9-1.5.6-.8.5-1.7 0-2.6-.4-.7-.9-1.3-1.9-1.1-.5.1-1.1.1-1.5-.1-1.1-.6-2.3-.4-3.4-.5-3 0-6.1 0-9.1-.1-2.4 0-4.7-.1-7.1 0-1.7.1-3.3.5-4.1 2.4-.4.9-.2 1.6.6 2 1.2.5 2.4.9 3.6 1.1 1.8.2 3.7.2 5.5.3.4 0 .9.2 1.3.3v2.1c-.8.1-1.4.2-2 .2-1.5.2-3 .4-4.5.7-2.1.5-4.2 1.1-6.3 1.8-1.3.4-2.5.8-3.7 1.3-2.6 1.1-5.3 2.2-7.8 3.5-1.3.7-2.3 1.8-2.3 3.5 0 .7-.1 1.4-.1 2.1-.1.6-.3 1.3-.3 1.9-.1 1.2 0 2.5 0 3.7-.5.1-1.1.2-1.6.4-1.4.6-2.7 1.3-4 1.9-3.2 1.4-6 3.4-8.3 6-1.5 1.7-3.1 3.3-4.7 5-1.3 1.4-2.7 2.7-3.9 4.3-2.2 2.9-4.7 5.7-6.1 9.2-.3.8-1 1.3-1.9 1.6-1.8.6-3.6 1.2-5.4 1.9-1.1.4-2.1 1-3.2 1.5-.8.4-1.7.5-2.4 1-2.2 1.4-4.3 2.9-6.4 4.4-.9.6-2 1-2.7 1.8-1.1 1.4-2.6 2.1-4.1 2.8-2.2 1.2-3.8 3-5.7 4.4-.9.6-1.5 1.6-2.4 2.1-1.8 1-3.1 2.5-4.5 3.9-1.2 1.2-2.3 2.4-3.5 3.6-.6.6-1.3 1-1.8 1.6-1.1 1.3-2.1 2.7-3.2 4s-2.2 2.6-3.4 4c-1.3 1.5-2.5 3-3.9 4.4-1.1 1.2-1.6 1.2-2.6-.1-1.8-2.5-3.5-5-4.8-7.9-.1-.3-.2-.6-.4-.8-1.9-3-3.8-6-5.7-8.9-.1-.2-.3-.6-.5-.6-1-.1-1.1-.9-1.5-1.5-.3-.5-.7-.9-1.3-.9-1.4-.1-2.8-.2-4.1-.2h-10.5-3.4c-3-.1-5.9-.2-8.9-.2h-6.9-19.7c-.8 0-1.7-.1-2 .7-.3.9-.2 1.8.5 2.5.1.1.3.2.3.3.5 1.1 1.7 2.1 1.2 3.5 1 .2.9.2 1.2.8.2.4.3.9.6 1.2l4.5 6.9c.3.5.7.9.9 1.4.8 1.6 1.6 3.3 2.4 5 1.1 2.2 2.3 4.5 3.5 6.7.8 1.5 1.8 3.1 2.6 4.6.7 1.2 1.4 2.3 2.1 3.5.4.7.9 1.5 1.3 2.2.4.5 1 .6 1.5.4.3-.1.6-.6.6-.9 0-2.5 0-5 0-7.5 0-2-.2-4-.1-6 .1-4 .7-8.1.2-12.1 0-.4.1-.9.2-1.4h1.6c1.6 0 3.2.2 4.9.1 4-.1 7.9-.2 11.9-.3h.5c.4-.1.9-.2 1.3-.2.5-.1.9-.2 1.3-.2h5.1c1 0 1.4.4 1.9 1.2 2.1 4.2 4.4 8.3 6.6 12.4.8 1.6 1.5 3.2 2.2 4.8.4.9 0 1.4-.9 1.4-1.8 0-3.6-.1-5.4-.1h-5.1c.5-2.7 1.1-5.4 1.5-8.1.2-1.4.4-2.8.4-4.2 0-1.7-.8-3-2.6-3.7-1.2-.5-2.3-.8-3.6-.7h-2.3-7.8c-.2 0-.4.1-.6.1-.9.3-1.8.6-2.7 1-1.3.5-2.4 1.3-2.8 2.6-.8 2.2-.9 4.4-.2 6.7.9 2.9 2.1 5.7 2.9 8.6.8 3.1 2 6 3.3 8.9.3.8-.1 1.1-.6 1.5-1.5 1.1-3 2.2-4.4 3.4-.5.4-.9.9-1.1 1.4-.5 1-.3 1.9.7 2.4.8.4 1.7.6 2.6.8 1.1.2 2.2.3 3.4.5-.4 1.1-.7 2-1.1 2.9-.8 1.9-1.8 3.7-2.5 5.7-1.3 3.4-1.8 6.9-1.8 10.4 0 4.6 3.9 7.1 7.5 6.9 1.7-.1 3.4-.1 5.1-.2s3.4-.2 5-.4c2.8-.4 4.6-2.8 4.2-5.6-.3-2.2-.6-4.5-1.1-6.7-.6-2.7-1.3-5.3-2.1-8.2 2.8-.1 5.5-.3 8.1-.4 2.5 2.6 5 5.1 7.4 7.5-.6 1.6-1.5 2.8-2.6 3.8-3.8 3.6-7.6 7.1-11.4 10.7-1 .9-2.2 1.2-3.5 1.2-6.5 0-12.9 0-19.4-.1-2 0-2.1-.2-2.2-2 0-.1 0-.2 0-.3 0-3.3.1-6.7.1-10 0-3.8 0-7.6-.1-11.5 0-.5.4-1.4-.6-1.5-.8-.1-.8.8-1.1 1.3-.8 1.5-1.4 3.1-2.1 4.6-1.4 2.7-2.8 5.3-4.2 8-.9 1.7-1.6 3.4-2.4 5.1-.6 1.3-1.4 2.5-2 3.7-1.7 3.3-3.3 6.6-5.5 9.5-1.2 1.7-2.4 3.3-3.2 5.3-.4 1-.3 1.3.9 1.4h3.5c4.7 0 9.3-.1 14-.2 8.9-.3 17.7 0 26.6 0 1.4 0 2.5-.3 3.1-1.7.1-.2.2-.3.4-.5 2.1-1.9 4.1-3.7 6.2-5.6 3.1-2.8 6.3-5.6 9.5-8.3 1.1-1 2.3-2 3.5-3 .5-.4 1.2-.8 1.7-.8s.9.7 1.3 1.1c.3.2.5.4.8.7 1.8 2.1 3.6 4.2 5.5 6.2 1.5 1.5 3.1 2.8 4.6 4.4 2 2.1 4.4 3.8 6.6 5.7 1.8 1.5 3.6 3 5.5 4.6 1.4 1.2 2.8 2.5 4.2 3.7.2.1.3.2.5.3 1.9 1.3 3.8 2.5 5.7 3.7.6.4 1.3.6 1.9.9.3.1.7.2 1 .4 1.3 1 2.5 2 3.8 3 .2.2.5.4.8.5 2.2 1.2 4.4 2.4 6.7 3.5 1.1.5 2.3 1 3.5.5.3.6 1.3.9.8 1.9-1.1.1-2.3.3-3.4.3-2.2-.1-4.1.9-5.9 1.9-.3.1-.6.6-.6.9 0 1.1-.8 1.7-1.5 2.3-2 1.5-3.1 3.6-3.8 5.9-.7 2.2.1 4.4.5 6.5.1.6.9 1 1.4 1.5.1.1.3.3.3.5.2 1.3 1.3 1.9 2.1 2.7 1 .8 2 1.5 3.1 2.1s2.2 1.1 3.5.7c.4-.2 1 0 1.5.1 3.3 1 6.8.8 10.2.9 3.6.2 7.2 0 10.7 0 1.2 0 2.3.2 3.5.3 4.5.1 9.1.1 13.6.1 3.4 0 6.8.2 10.3.2 4.6 0 9.1-.1 13.7-.2h7.9 12.9c1.3 0 2.7-.3 4-.1 1.7.3 3.3-.3 4.9.1.1 0 .2-.3.3-.4.3.2.6.4.8.5.4-.3.8-.6 1.2-.9v.9h1.7c3.6 0 7.1 0 10.7.1 3.5 0 6.9.2 10.4.2 3.4 0 6.7 0 10.1.1h11.5c2.3 0 4.5 0 6.8-.1 2.8-.1 5.6-.3 8.4-.2 2.7 0 5.3-.3 7.9-.6 1.9-.2 3.8-.4 5.6-.6 2.7-.2 5.4 0 8-.5.4-.1.9 0 1.4-.1 1.5-.2 2.9-.4 4.4-.7.7-.1 1.4-.5 2-.6 1.7-.3 3-1.1 4.3-2.2.5-.5 1.1-.9 1.6-1.4.8-.7 1.4-1.4 1.6-2.4.2-.6.4-1.2.7-1.8.9-1.5 1-3 .7-4.6-.1-.5.1-1 0-1.4-.1-.5-.5-.8-.6-1.4-.1-1.4-.4-2.9-1.6-3.9-.7-.5-1.4-1-1.7-1.9-.1-.3-.6-.5-1-.6-1.4-.3-2.8-.5-4.4-.8.3-.2.4-.3.5-.4 1-.7 2.2-.8 3.3-1.2 3.7-1.4 6.6-4.2 9.8-6.4 1.6-1.1 3-2.7 4.4-4.1.7-.7 1.6-1.3 2.3-2 1.4-1.3 2.5-2.9 4.1-4.1 2.5-1.9 4.3-4.3 6.1-6.7 2.2-2.9 4.3-6 5.6-9.6s3-7.1 4.4-10.7c.5-1.2.8-2.6 1-3.9.5-2.2.9-4.5 1.4-6.8.2-.9.6-1.8.8-2.7.4-1.7.8-3.4 1.2-5.1.2-.7.4-1.3.3-1.8zm-96.5-132.8c-.6-.1-1.3-.1-1.8-.3-.2-.1-.5-.5-.5-.8s.3-.6.6-.7c.7-.4 1.5-.3 2.3.2-.3.6-.4 1-.6 1.6zm-2.2-7.4c.7-.1 1.2-1.1 2-.3.6.5.4 1.1.1 1.6-.3.6-.9.8-1.4.6-.7-.3-.6-1.1-.7-1.9zm1.6-6.1c.5.1 1 .3.9 1-.1.6-.6 1.1-1.2 1s-1.2-.3-1.4-1.1c.3-.6.9-1 1.7-.9zm-8.1 4.8c0 .1.1.1.1.2-.1.1-.3.2-.4.2h-.4c0-.1-.1-.2-.1-.2.2-.1.5-.1.8-.2zm-1.1 7.5c-.5.6-.5.6-1.5.5.6-.2 1-.4 1.5-.5zm-69.1 11.9c0-.1 0-.2 0-.4h.7v.3c-.3.1-.5.1-.7.1zm-164.5 89.1c-.2-.3-.3-.5-.5-.8.1-.1.2-.1.3-.1.1.3.3.5.4.8 0 0-.1 0-.2.1zm6.2 13.5c-.2-.3-.5-.6-.7-.9l.1-.1c.3.2.6.5.9.7zm1 2c-.2-.3-.4-.7-.7-1 .1-.1.2-.1.3-.2.2.4.4.7.6 1.1 0 0-.1 0-.2.1zm1.3-17.7h.4c.1.6.2 1.2.3 1.8-.7-.5-1.1-1-.7-1.8zm.2 2.8h.2c0 .3-.1.6-.1.9-.1 0-.2 0-.3-.1.1-.2.2-.5.2-.8zm-.1 6.8c0-.5 0-.8.1-1.1.7.3.5.6-.1 1.1zm32.3-12.3c-.1-.5-.3-1-.5-1.7 1 .5.4 1.2.5 1.7zm-20.8 14.6c-.1-.2-.3-.5-.4-.7.1-.1.2-.1.2-.2.2.2.3.5.5.7-.1.1-.2.2-.3.2zm.8 41.6c-.1-.1-.3-.2-.3-.2 0-.1.1-.3.2-.4.1.1.2.1.4.2-.1.2-.2.3-.3.4zm2.1-51.3c0-.1-.1-.2-.1-.3.7-.2 1.3-.4 2-.7 0 .1.1.2.1.3-.6.3-1.3.5-2 .7zm1.2 47.7h-.3c0-.4.1-.8.1-1.1h.2zm1 3.9c-.1-.1-.2-.1-.3-.2.2-.1.3-.3.5-.4 0 0 .1.1.2.1-.2.2-.3.4-.4.5zm-.6-47.9c.4-1.3.4-1.3 1.3-1-.5.4-.8.7-1.3 1zm2.8-1.9c-.3.2-.6.4-1.2.7.2-.8.6-.9 1.2-.7zm-.6 15.1c.5-.3.8-.5 1.4-.7-.1.4-.1.6-.2.7-.3.4-.3.4-1.2 0zm1.1 22.1c-.1-.1-.1-.1-.2-.2.2-.3.3-.6.5-.8.1.1.2.1.3.2-.1.3-.3.6-.6.8zm1.7-33.8c-.3 0-.6 0-.8-.1 0-.1 0-.2.1-.4.3.1.5.1.8.2-.1.1-.1.2-.1.3zm2.5-3c-.6.5-1 1.1-2.2.6 1.3-.7 2.4-1.4 3.5-2 .1 0 .3.1.5.2-.4.9-1.3.8-1.8 1.2zm6.2 53.3c-.2.7-.3 1.1-.5 1.6-.4-.7 0-1 .5-1.6zm10.5-38.7c-.1-.1-.2-.1-.4-.2.2-.3.4-.6.6-1 .1 0 .2.1.3.1-.2.4-.3.7-.5 1.1zm.7-15.6c-.2-.4-.3-.8-.5-1.2.1 0 .3-.1.4-.1.1.4.2.8.3 1.2 0 .1-.1.1-.2.1zm-43.9 55.6c-.1-1.1.3-1.8 1.4-2.9-.5.9-.9 1.8-1.4 2.9zm48.8-15.6c-.1-.1-.1-.3-.2-.4l.9-.3c0 .1.1.2.1.3-.2.1-.5.2-.8.4zm12.3-8.9c-.1-.1-.3-.2-.4-.3.1-.1.2-.3.3-.3s.2.1.4.2c-.1.2-.2.3-.3.4zm3.6-.6c-.3.2-.6.4-1.1.8 0-1 .7-.7 1.1-.8zm.4 27.3c-.7 0-1.3.5-2.2.8 1-1.7 2.8-2.7 4.8-2.8-.7 1-1.1 2-2.6 2zm3.9-2.6c-.1-.1-.1-.3-.2-.4.4-.3.9-.5 1.3-.8l.3.6c-.5.2-.9.4-1.4.6zm1.5-67.3c-.1-.1-.1-.1-.2-.2.2-.2.5-.4.7-.6.1.1.2.2.2.3-.1.2-.4.3-.7.5zm5.4 35.1c-.1 0-.2-.2-.2-.3s.1-.2.3-.3c.1 0 .2.1.3.3-.2.2-.3.3-.4.3zm-.2-22.7c0-.3.1-.6.1-1h.3c0 .3-.1.7-.1 1zm1.4 26.3h-.2c0-.3 0-.5 0-.8h.3c0 .3 0 .6-.1.8zm-.9-31.7c-.7 0-1.3.5-2.2.8 1-1.7 2.8-2.7 4.8-2.8-.6 1.1-1.1 2.1-2.6 2zm3.3 53.7c-.1-.1-.1-.1-.2-.2.3-.3.6-.6.9-.8.1.1.2.2.2.3-.3.2-.6.4-.9.7zm.7-56.2c-.1-.1-.1-.3-.2-.4.4-.3.9-.5 1.3-.8l.3.6c-.5.2-1 .4-1.4.6zm10.6-3v-1.2h.2c0 .4.1.8.1 1.2zm4.1 76c-.2.1-.5.2-.7.2-.1-.1-.1-.2-.1-.4.4-.2.7-.4 1.1-.6.1.1.1.2.2.2-.2.3-.3.5-.5.6zm1.8-1.5c-.1-.1-.3-.1-.4-.2.2-.3.4-.7.6-1 .1.1.3.1.4.2-.2.3-.4.7-.6 1zm-.8 48.9v-1.8h.1c.1.6.2 1.2.4 1.8zm9.1 2.3h-.3c0-.2-.1-.5-.1-.7h.4zm190.4-4.2c.3-.4.5-.7.7-1 .1.5.1.9-.7 1zm1.1-4.9v1.7c-.5-.7-.8-1.1-1.4-1.8.7 0 1 .1 1.4.1zm-1.8-3.4c0 .1.1.2.1.2-.2.2-.4.3-.6.4-.1-.1-.1-.2-.2-.3.3-.1.5-.2.7-.3zm-17.5-100c.1.1.1.3.2.4-.5.3-1 .6-1.5.8-.1-.1-.2-.3-.2-.4.5-.3 1-.6 1.5-.8zm-7.1 16.9c-.9-.1-1.4-.1-2.2-.2 1-1 1-1 2.2.2zm-5 2.3c.1.3.1.6.2.8h-.3c-.1-.3-.1-.6-.2-.8.1.1.2.1.3 0zm-2.8-12.5h.3c.1.5.1 1 .2 1.8-.6-.7-.6-1.2-.5-1.8zm-2.2-49.1c.1.6.2 1 .3 1.6-.7-.5-.6-.9-.3-1.6zm.3 27.9h-.4c0-.4 0-.8-.1-1.1h.3c0 .3.1.7.2 1.1zm-6.6 89.8c.5-.3.5-.3 2.2 0zm1.2 6.2c-.6.1-1.3.3-1.9.4.5-.8 1.2-.7 1.8-.8 0 .1 0 .2.1.4zm.6-88.3c.1.1.2.2.3.4-.3.2-.6.5-.9.7-.1-.2-.2-.3-.4-.5.3-.1.6-.4 1-.6zm-1.9 44.6c.3.1.5.2.8.3 0 .1-.1.2-.1.3-.3-.1-.5-.2-.8-.3 0-.1 0-.2.1-.3zm-.7 11.2c.1.1.3.2.4.4-.2.2-.3.4-.5.5-.1-.1-.3-.2-.4-.3.2-.2.4-.4.5-.6zm-.8-15.6c0 3.1-1.2 5.8-3.5 7.7-2.5 2.1-6.1 3.2-10.5 3.2-4 0-7.8-1.1-9.7-2.1l-.5-.2 1.8-7.5.8.4c1.8 1 4.9 2 8 2 1.5 0 2.8-.3 3.5-.9.7-.5 1.1-1.2 1.1-2.1 0-1.4-.8-2.5-5.1-4-6.4-2.3-9.6-5.8-9.6-10.5 0-6.2 5.4-10.6 13.2-10.6 3.4 0 6.3.6 8.7 1.7l.5.2-2 7.3-.7-.4c-1.1-.6-3.5-1.5-6.6-1.5-2.9 0-4.2 1.3-4.2 2.5 0 1.6 1.4 2.4 5.7 4 6.2 2.6 9.1 5.9 9.1 10.8zm-2.7 47.7c0 .3-.1.6-.1.8h-.3c0-.3 0-.5.1-.8zm-13.2-6.5c0-.1-.1-.3-.1-.4l1.5-.3v.6c-.5 0-1 .1-1.4.1zm.5 19.6c-.4.2-.8.4-1.3.6.4-.7.4-.7 1.3-.6zm0-48.1c.8-1.2 1.8-1.5 3.1-.6-1.1.2-2.1.4-3.1.6zm3.3 62.4c-1.1.5-1.1.5-1.9-.1.7 0 1.3 0 1.9.1zm2.9 8.1c-1.8.7-3.7.7-5.6-.1 1.9-.2 3.8.1 5.6.1zm-.3-1.7c0-.1 0-.1.1-.2.3.1.5.1.8.2 0 .1-.1.2-.1.3-.3-.1-.6-.2-.8-.3zm-1-15.4c.5-.7 1-.5 1.5-.3-.4.1-.8.2-1.5.3zm.1-32.4c1.3-.7 2.2-1.1 3.6-.1-1.2 0-2.2 1-3.6.1zm1.6-10.4c.3-.2.6-.4.9-.7.1.1.2.2.3.4-.3.2-.6.5-.9.7 0-.1-.1-.2-.3-.4zm3 33.2c-.3.1-.7.2-1.2.3.3-.8.7-.9 1.2-.3zm1.1-12.3c-.6.5-.8.8-1.1 1-.5-1 .1-1 1.1-1zm-12.3-24.6c-.5.1-1 .1-1.6.2 0-.2-.1-.3-.1-.5.5-.1 1.1-.2 1.6-.3.1.2.1.4.1.6zm.1-23c.1-.3.3-.5.4-.8.1.1.2.1.3.2-.2.2-.3.5-.5.7-.1-.1-.1-.1-.2-.1zm-5.1-64.9c.6-.6.6-.6 1.6-.6-.4.7-.4.7-1.6.6zm2.3 23.3c-.5.1-1 .3-1.6.4.4-.6.8-1.1 1.6-.4zm-2.2-25.1c-.1 0-.1-.2-.2-.3.1-.1.3-.2.4-.2s.2.1.5.3c-.3.1-.5.2-.7.2zm10.2 30.6c-.3.1-.6.2-.9.3 0-.1 0-.1-.1-.2.3-.1.6-.2.9-.3.1 0 .1.1.1.2zm0-7.1c.2-.2.3-.4.4-.5l.5.5c-.1.1-.3.4-.4.4-.2 0-.3-.2-.5-.4zm8.8 18.5c.3-.1.5-.3.8-.4.1.1.1.2.2.3-.3.1-.6.2-.9.4 0-.2-.1-.3-.1-.3zm-2.6 15.2c-.1.1-.2.3-.3.4-.4-.3-.7-.5-1.1-.8.1-.1.2-.2.3-.4.4.3.7.5 1.1.8zm4.4-37.9c-1.2.2-2.2.4-3.1.6.8-1.2 1.8-1.5 3.1-.6zm-4.8 7.6c-.5.1-1 .1-1.6.2 0-.2-.1-.3-.1-.5.5-.1 1.1-.2 1.6-.3.1.2.1.4.1.6zm-1-8.9c-.5.5-1.1.6-1.9.5.6-.4 1-1.2 1.9-.5zm-1.9-15c0 .1.1.1.1.2-.2.2-.4.3-.6.5-.1-.1-.1-.2-.2-.3.2-.2.5-.3.7-.4zm-2.2-28.5c.6 1.3 1.1 2.6 1.2 4h-.4c-.4-1.3-.8-2.7-1.1-4 .1.1.2 0 .3 0zm-.9 26.8.3.3c-.3.2-.5.4-.8.6-.1-.1-.1-.1-.2-.2.3-.2.5-.4.7-.7zm.2 3.3c.3-.3.5-.6.8-.8.1.6-.3.8-.7.9-.9.5-1.9 1.1-2.8 1.6-.1-.1-.2-.1-.3-.2.1-.2.1-.6.3-.7.9-.3 1.8-.5 2.7-.8zm-3.9-33.8c.3.3.5.7 1 1.2-1.4.3-1.1-.5-1.2-.9 0-.2.1-.3.2-.3zm-2.8 36.2c.9-.3 1.4-.5 2.1-.8-.3 1.1-.4 1.2-2.1.8zm1.9-21.2h-1.4c.8-.5 1.1-.6 1.4 0zm-1.8 14.6c-.3.2-.7.4-1.1.7.2-.8.2-.8 1.1-.7zm-2.2-33.2c.2.1.5.3.8.5-.4.1-.6.3-.7.2-.2-.1-.4-.2-.8-.5.4-.1.6-.3.7-.2zm-1.7 16.1c.2.1.4.2.6.4.1-1 1-.2 1.6-.6l-.3.9c-.5-.1-.9-.2-1.3-.3-.3.5-.6 1-.9 1.4-.1 0-.1-.1-.2-.1.1-.6.2-1.1.5-1.7zm-.2 45.3v.4c-.5.1-1 .1-1.4.2 0-.2 0-.4 0-.6zm-2.8-17.4c.1.1.2.3.4.4-.3.2-.6.3-.9.5-.2-.7.1-.9.5-.9zm-1.7.7c.1 0 .3.2.3.3 0 .2-.2.3-.3.5-.2-.2-.4-.4-.4-.5s.2-.3.4-.3zm-1.1-36.3c.2 0 .3.2.4.3-.1.1-.3.2-.5.4-.1-.3-.3-.4-.3-.5.1-.1.3-.2.4-.2zm.4 26.6c-.6.3-1.1.6-1.7.9-.1-.1-.1-.2-.2-.3.6-.4 1-1.1 1.9-.6zm-2.6 10.8c.4-.9 1.3-.3 1.9-.8-.3.8-.4.8-1.9.8.1 0 0 .1 0 0 0 .1 0 .1 0 0-.3.2-.6.5-1 .8.1-.8.6-.7 1-.8zm-1.1-9.8c.1-.1.3-.2.4-.3.1 0 .2.2.3.3l-.4.4c-.1-.2-.2-.3-.3-.4zm.8-26.4c.4.9.1 1.3-1 1.2.3-.4.6-.8 1-1.2zm-1.7-8.2c0-.1 0-.2.1-.3.3 0 .5.1.8.1 0 .1-.1.2-.1.4-.3-.1-.5-.1-.8-.2zm.9-7.6c-.7-.9-.7-.9.1-1.7-.1.8-.1 1.2-.1 1.7zm-1-11.6c.2-.8.3-1.5.4-2.1.1.6.7 1.5-.4 2.1zm0-6c.2.2.3.4.5.6-.1.1-.2.1-.3.2-.1-.2-.2-.4-.4-.7 0 0 .1-.1.2-.1zm-.8 51.3c.2.2.3.3.4.4 0 .1-.2.3-.2.3-.2-.1-.3-.2-.4-.3-.1 0 .1-.2.2-.4zm-.8-44.6c.2.6.4.9.5 1.2-.8-.2-.8-.2-.5-1.2zm.2 5.3h-.4c-.1-.6-.1-1.1-.2-1.9.8.7.5 1.4.6 1.9zm0-32.6c0 .1 0 .2.1.2l-.9.3c0-.1 0-.1-.1-.2.3-.1.6-.2.9-.3zm-1.8 38s-.2.1-.4.2c-.1-.2-.2-.5-.3-.7.1 0 .2-.1.3-.1.2.1.3.3.4.6zm-.6-30.9c-.1-.4-.2-.7-.3-1.2.7.2.7.2.3 1.2zm.1 16.7c.1.7.1.7-.8.5.4-.2.6-.3.8-.5zm1.8 28.4c0 .9.1 1.8.1 2.6 0 1.7-1 2.6-2.2 2.6s-2.3.8-3.6.5c-1-.2-1.3-.4-1.5-1.3s-.4-1.9-.6-2.8c-.2-1 .2-1.6 1.1-2 2.3-1.2 4.5-1.4 6.7.4zm-.5 58c-.7-.6-1-1-1.7-1.6 1.3-.2 1.7.1 1.7 1.6zm-3.3-36.9c1.2-.3 2.1-.6 3.1-.8 0 .1.1.2.1.4-1 .6-1.9.9-3.2.4zm-.9.6c-.6.6-.6.6-1.6.6.7-.3 1.1-.4 1.6-.6zm-1.9-14c-.1.5-.2 1-.3 1.5h-.3c.1-.5.1-1 .1-1.4.2-.1.3-.1.5-.1zm-1.5-13.7c.1-.1.2-.3.3-.3.2 0 .3.2.4.3-.1.1-.2.2-.3.4-.2-.1-.3-.3-.4-.4zm1 2.3c.3-.1.7-.2 1-.2 0 .1 0 .2.1.4-.3 0-.7.1-1 .1-.1-.1-.1-.2-.1-.3zm1.6.2.2-.9h.2c0 .3-.1.6-.1.8-.1.1-.2.1-.3.1zm.5-12c-.2-.2-.4-.5-.6-.7.1-.1.2-.1.3-.2.1.3.3.5.4.8.1 0 0 0-.1.1zm-.4-30.4c.1 0 .2 0 .3.1-.1.5-.2 1.1-.4 1.8-.9-1-.3-1.4.1-1.9zm-1 2.6h.3c0 .2-.1.5-.1.7h-.2zm-.3 13.5h.1c.1.3.1.5.2.8h-.3zm-.6-11.9h.2v.5c0 .1-.1.3-.2.4-.1-.1-.2-.1-.3-.2.2-.2.2-.4.3-.7zm-.7-4.1c.1 0 .2.1.4.1-.2.5-.3 1.1-.5 1.6-.1 0-.3-.1-.4-.1.1-.6.3-1.1.5-1.6zm-.2 14c-.1 1.1-.1 2-.2 3-.8-.3-.2-1-.3-1.4-.1-.6-.3-1 .5-1.6zm-.2 54.7v.3c-.2 0-.5-.1-.7-.1 0-.1 0-.1 0-.2zm-1.8-22.4c.1.1.1.2.2.3-.2.2-.5.3-.7.5-.1-.1-.1-.2-.2-.3.2-.2.5-.4.7-.5zm.6 4.4c.4.4.7.7 1.1 1h-2.7c0-.1 0-.2 0-.2.5-.3 1.1-.5 1.6-.8zm-.7 16c-.2.1-.3.3-.4.2-.1 0-.2-.2-.3-.2.1-.1.2-.2.3-.2.1-.1.2.1.4.2zm.8 4.4c-.7.4-1.2.7-1.7 1.1-.1-1.1 0-1.2 1.7-1.1zm-2-23.6c-.2.4-.3.7-.5 1.1-.5-.8-.3-1 .5-1.1zm-2.3-12c.1 0 .3.1.6.3-.3.2-.4.4-.5.4-.1-.1-.3-.2-.4-.4 0-.1.2-.3.3-.3zm1.9 36.4c-.4.1-.8.3-1.2.4-.9 0-1.8.2-2.5.9.6-1 2.1-1.6 3.7-1.3zm-1.8 2.9c0 .9-.1 1.2-1 1.3.3-.5.6-.8 1-1.3zm-1.1 36.3c.1.2.1.3.2.5-.9.3-1.8.5-2.8.8 0-.2-.1-.3-.2-.5.9-.3 1.8-.6 2.8-.8zm-1.5-67.3c-.2.3-.4.6-.7 1-.3-.8.1-.9.7-1zm-.9 27.9c0 .1 0 .1.1.2l-.6.3c0-.1-.1-.2-.1-.3.2-.1.4-.2.6-.2zm-1.3.4c-.5.4-.9.8-1.4 1.2-.2-.6-.2-.6 1.4-1.2zm-2.5 14.1v.3h-.7s0-.3 0-.4c.2 0 .5 0 .7.1zm-1.4-14c.3.3.5.5.7.7-.7.1-1.1 0-.7-.7zm-.2-19.3c-.1 0-.2-.1-.4-.2.1-.2.2-.3.3-.4l.3.3c0 .1-.2.3-.2.3zm.8-22.1c-.1.3-.2.5-.3.9-.5-.5-.3-.8.3-.9zm-.2 8.5c-.3.1-.6.2-1.1.4.4-.7.4-.7 1.1-.4zm-2.1 2.1c.3-.1.7-.1 1.1-.2v.4c-.4 0-.7 0-1.2.1.1-.1.1-.2.1-.3zm-1.1-13.1c.3.1.5.2.8.3 0 .1 0 .2-.1.2-.3 0-.5-.1-.8-.1.1-.2.1-.3.1-.4zm-.1-2.5c.1 0 .1.2.1.4-1.3-.2-2.3-.8-3-1.9.9.5 1.9 1 2.9 1.5zm-6.7-2c-1.2.1-1.2.1-3.1-1.4 1.1.1 1.8 1.4 3.1 1.4zm-9.8-2.9c.7 0 1.4.1 2.1.1 0 .1 0 .3-.1.4-.7-.1-1.4-.2-2.1-.3.1 0 .1-.1.1-.2zm4.5 7.3c1.9 0 3.8-.1 5.8-.1v.3c-3.8.5-7.7.1-11.5.2 1.8-.6 3.8-.4 5.7-.4zm4.2 11.7c-.5.1-.9.2-1.4.3 0-.1-.1-.2-.1-.4.5-.1.9-.3 1.4-.4.1.2.1.4.1.5zm-4.6 8.5c0 .5-.1 1-.9.7.3-.4.5-.7.7-.9.1.1.2.2.2.2zm-22.7 124.9c.5-.5.9-1 1.5-1.5l.8.8c-.5.5-.9 1-1.5 1.6-.4-.3-.6-.6-.8-.9zm.6 28.8c.3 0 .6.1 1 .1v.4h-1c0-.2 0-.4 0-.5zm.9-47.3c-.1-.2-.3-.3-.4-.5 1-.2 1.2-1.9 2.9-1.3-1 .7-1.8 1.2-2.5 1.8zm-9.5-7.6c-3.1-3-4.9-7.5-4.9-12.6 0-2.9.6-5.6 1.6-7.9-.5-.8-.5-1.3.8-1.5 3.1-5.4 9.2-8.6 17.2-8.6 4.4 0 7.7.8 9.5 1.6l.5.2-1.9 7.4-.7-.3c-1.3-.6-3.2-1.2-6.5-1.3.1.6.2 1.3.3 2.1-.8-.7-1-1.5-1-2.1h-.1c-3.1 0-5.6.9-7.4 2.5-1.9 1.8-2.9 4.3-2.9 7.6 0 6.3 3.8 10.2 9.8 10.2 1.3 0 2.4-.1 3-.3v-5.8h-5.1v-7.2h13.7v18.6l-.5.2c-2.7.9-7.1 1.9-11.3 1.9-6.3-.1-10.8-1.6-14.1-4.7zm-5 48.2c-.3-.5-.6-1-.8-1.6-.2-.8.9-.7 1.1-1.1.8-1.4 2-2.2 3.3-3 .3-.2.8-.3 1.5-.1-.4.4-.7.9-1.1 1.1-2.3.7-3.2 2.5-4 4.7zm1.7 8.3c-.3.1-.5.1-.8.2 0-.1 0-.1-.1-.2.3-.1.5-.2.8-.3 0 .1.1.2.1.3zm-5.6 7.9c0-.1 0-.2 0-.3 1-.1 2.1-.2 3.1-.3.2.5 0 .8-.5.7-.9.1-1.8 0-2.6-.1zm2.4 2.6c-.9.4-1.1.3-1.4-.5.5.2.8.3 1.4.5zm-2.8-48.3c.5.2 1 .4 1.4.6.1-.6.1-1.1.2-1.7h.5c.2.6.3 1.2.5 1.9-.5-.1-.8-.2-1.2-.2h-.1c-.5.3-1.1.5-1.3-.6zm.7 4.5c-.8.4-1.7.9-2.9 1.5.6-1.8 1.8-1.5 2.6-2 .1.1.2.3.3.5zm8.8-66.8c.3.6.5 1 .7 1.3-.9.8-1.7 1.6-2.6 2.4-.4-.1-1.1-.3-.4-1.1.6-.8 1.3-1.5 2.3-2.6zm-1.4-7.7c.4-.5.8-1.1 1.8-.5-.8.2-1.3.3-1.8.5zm3.5 11.2c.1.2.2.3.3.5-.8.4-1.7.9-2.9 1.5.5-1.9 1.8-1.5 2.6-2zm-.5-4.1c.5.2 1 .4 1.4.6.1-.6.1-1.1.2-1.7h.5c.2.6.3 1.2.5 1.9-.5-.1-.8-.2-1.2-.2h-.1c-.4.3-1 .6-1.3-.6zm-4 16.7c-.5.5-.9 1-1.3 1.5-.1-.1-.2-.1-.2-.2.2-.7.4-1.3.6-2.1.3.3.6.5.9.8zm-3.4-26.4c1.1-.1 2-.2 3-.2-1.2 1-2 1.1-3 .2zm1.2 7.8c-.3.1-.6.2-.9.4-.1-.1-.1-.2-.2-.3.3-.2.6-.4.8-.5.1.1.2.3.3.4zm.6 6.4c-.6 1.7-2.6 2-3.9 3.5-.2-1.2.3-1.6 1-2 1-.5 1.9-1 2.9-1.5zm0 2.6c-.1.8-.2 1.2-.2 1.7-1-.6-1-.6.2-1.7zm-.5 52.5c-.4 1.6-1 2-2.2 1.6.5-.8 1.3-.9 2.2-1.6zm-2.8-39.3c-.1 0-.3-.4-.3-.4.2-.2.4-.4.6-.4.1 0 .3.3.5.5-.3.2-.5.3-.8.3zm.5 44.9c.6-.5 1.2-.9 1.7-1.3.4.2 1.4.6 1.5.5.4-.6.6-1.4.9-2.2.3.4.7.8 1.1 1.2 0-.4-.1-.8-.1-1.3.8.6.8.7.1 1.3v.1s0 0 0-.1c-.2.6-.4 1.1-.7 1.6-1.4.6-2.9.9-4.5.2zm3.4-21.3c.2-.6.4-1.2.6-1.7.2 0 .3.1.5.1-.2.6-.4 1.2-.6 1.8-.2-.1-.3-.1-.5-.2zm.8 36.6c.1 0 .3.1.4.1-.1.6-.3 1.3-.4 1.9-.2-.1-.5-.2-.7-.2.2-.5.5-1.2.7-1.8zm-1.6-11.3c-.1 0-.2-.3-.3-.4.2-.1.3-.2.5-.2s.4.1 1 .2c-.9.2-1.1.4-1.2.4zm4.2 30.2c-.6.1-1.1.1-1.6.2.8-.7.8-.7 1.6-.2zm-.9 1.2.3.3c-.1.1-.3.2-.4.1-.1 0-.2-.2-.4-.3.2 0 .4-.1.5-.1zm.7 7.2c.2 0 .3.1.5.2v.3h-1.1c.3-.3.4-.5.6-.5zm1.8 9.7c.2.1.5 0 .7 0 .1 0 .3-.1.4-.1.6-.2.9 1 1.7.2.3-.3 1.3-.2 1.9-.1.3 0 .7.2 1 .3v.4c-1.2.5-2.4.2-3.6.1-1.2 0-2.5.1-3.8.1.5-.7.8-1.4 1.7-.9zm2.3-41.1c0-.3-.1-.5 0-.7.4-.7.4-.7 1.6-.4-.6.5-1.1.8-1.6 1.1zm3.3 22.3c-.6.4-1.1.7-1.8 1.2.3-.9.3-.9 1.8-1.2zm-3.3-16.5c.2 1.2.3 2.4.5 3.9-1.5-1.4-.9-2.7-1-3.9.2.1.4 0 .5 0zm-1.9-19h-.7c-.1-.5-.4-1.2-.2-1.5.6-.8.7-2.2 2.5-2.4-1.1 1.2-2.3 2.2-1.6 3.9zm-.4 11.1c.1.4.2.7.2.9 0 .1-.3.2-.5.3-.1-.2-.3-.5-.3-.7.1-.1.3-.2.6-.5zm.4 25.2c-.2.1-.4.2-.4.2-.1-.1-.2-.2-.3-.3.1-.1.2-.2.3-.2s.2.1.4.3zm.2 8.1s0 .4.1.9c-.6-.3-.9-.5-1.2-.6v-.3zm4.4-101.7c.2-.1.3-.2.5-.2s.4.1 1 .2c-.8.3-1 .5-1.2.4-.1 0-.2-.3-.3-.4zm8-3.2s-.2-.2-.2-.3.2-.2.3-.3c.1 0 .2.1.4.2-.2.2-.3.3-.5.4zm2.1 9.8c-.6.4-1.1.7-1.6 1.1 0-.3-.1-.5 0-.7.4-.6.4-.6 1.6-.4zm.5-37.6c.2-.3.4-.5.6-.8l.2.2c-.2.3-.4.5-.6.7-.1 0-.1-.1-.2-.1zm3.2-3c.2.1.5.3.7.4v.1c-.3-.1-.6-.1-.9-.2.1-.1.1-.2.2-.3zm-.1-18.7c.4-.2.7-.5 1.2-.8-.3.5-.4 1-.9 1.1-.1-.1-.2-.2-.3-.3zm.7 26.4v.2c-.2 0-.5 0-.7.1v-.6c.3.1.5.2.7.3zm2 7.5c-1 .7-1.8 1.3-2.5 1.9-.1-.2-.3-.3-.4-.5.9-.3 1.1-1.9 2.9-1.4zm-.8-16.3c.2-.1.3-.3.5-.4l.2.2c-.2.1-.3.3-.5.4-.1-.1-.2-.2-.2-.2zm2.7 42.2v1.2h-.4c0-.4 0-.8-.1-1.3.2.1.3.1.5.1zm-.5-2c-.2-.2-.5-.3-.7-.5.1-.1.2-.2.3-.4.2.2.4.4.5.7 0 .1-.1.1-.1.2zm-1.9-5.5c1.3-1.7 2.4-2 3.2-1-1.2.4-2.2.7-3.2 1zm-1.3 1.3c-.5.5-.9 1-1.5 1.6-.3-.4-.5-.7-.7-1 .5-.5.9-1 1.5-1.5.2.3.4.5.7.9zm-2-51.8c-.1-1.1-.1-1.1.8-1.5-.3.7-.5 1.1-.8 1.5zm.3 17.8c.1.1.2.1.2.2-.2.3-.4.5-.7.7-.1-.1-.1-.1-.2-.2.3-.2.5-.5.7-.7zm-.3 23.8c-.2.1-.3.3-.5.3 0 0-.2-.2-.2-.3s.2-.2.3-.3c.1.1.2.2.4.3zm7.1 108.2c-.6-.2-1-.4-1.5-.6.9-.3.9-.3 1.5.6zm-1.4-159.2c.2.1.4.3.5.4l-.2.2c-.2-.1-.4-.3-.5-.4.1 0 .2-.1.2-.2zm-.2 23.2c.7.6.2.7 0 1-.1 0-.2-.1-.3-.1.1-.2.2-.5.3-.9zm-.8-44.3c.1 0 .2.1.4.1-.1.2-.2.3-.3.4-.1 0-.2-.1-.3-.2 0-.1.1-.2.2-.3zm-.7 1h.8v.3c-.3 0-.6 0-.8-.1 0 0 0-.1 0-.2zm.1 26c.1.7-.3.8-1 .7.2-.4.4-.7.7-1.1.1.1.3.2.3.4zm-1.1-7.8c.2.1.4.3.6.5-.1.1-.2.2-.3.2-.1-.2-.3-.3-.4-.5-.1-.1.1-.2.1-.2zm-1.1-18.2c.3 0 .6 0 .8.1v.2h-.9c.1-.1.1-.2.1-.3zm-.9 6.6v.2c-.5 0-1 .1-1.5.1 0-.1 0-.2 0-.3zm-2.3-3.4c0-.1 0-.2 0-.2.3 0 .7.1 1 .2 0 .1 0 .2-.1.3-.3-.2-.6-.3-.9-.3zm-.5-3.1c.7 0 1.3.1 2 .1v.3c-.7 0-1.3-.1-2-.1 0-.1 0-.2 0-.3zm-2.9.1c.1.2.3.4.4.6 0 0-.1.1-.2.2-.2-.2-.4-.3-.6-.5.1-.2.2-.3.4-.3zm-.5 18c1.1-1.8 4.6-1.8 5.7 0 .4.6.8 1.3.9 2 .3 2.2-1.4 4-4.1 4-.4-.1-1.1-.1-1.8-.3s-1.9-1.8-1.8-2.6c.2-1 .5-2.1 1.1-3.1zm.1 33.3c-.4.3-.6.6-1.2 1 .2-1 .6-1.1 1.2-1 .1-.3.3-.5.4-.8.3.5 0 .7-.4.8zm-1.7 21.8c.6-.8.7-2.2 2.5-2.4-1.2 1.3-2.4 2.3-1.6 4h-.7c-.1-.6-.5-1.2-.2-1.6zm.4 12.7c.1.4.2.7.2.9 0 .1-.3.2-.5.3-.1-.2-.3-.5-.3-.7 0-.1.3-.2.6-.5zm-4.4-32.2c.2 0 .3.1.5.1l-.6 1.8c-.2-.1-.3-.1-.5-.2.2-.5.4-1.1.6-1.7zm-.8 22.2c.4-.6.6-1.4.9-2.2.3.4.7.8 1.1 1.2 0-.4-.1-.8-.1-1.3.8.6.8.7.1 1.3v.1s0 0 0-.1c-.2.6-.4 1.1-.7 1.6-1.5.6-3 .8-4.5.1.6-.5 1.2-.9 1.7-1.3.4.3 1.4.7 1.5.6zm-.9-4.7c-.4 1.6-1 2-2.2 1.6.5-.9 1.3-.9 2.2-1.6zm-2.5-64.3c.1 0 .2.1.4.2-.2.1-.3.3-.4.3s-.2-.2-.3-.3c.1 0 .2-.2.3-.2zm-3.6 2.7c.1.1.3.2.4.2-.1.1-.2.3-.2.3-.2 0-.3-.2-.4-.2 0-.1.1-.1.2-.3zm-1.2 40.5c.3-.2.7-.2 1-.3 0 0 .1 0 .1-.1h.1c.6-1.3 1.4-2 2.3-2.1s0 0 .1 0c.4-.2.5-.9 1.2-.4-.2.6-.7.5-1.2.4-.4 1.1-1.4 1.6-2.3 2.1v.1h-.1c-.9.6-1.4 1.6-2.5 2-.5.2-.7.9-1 1.3-.8-.7.1-1.4.5-1.5.6-.3 1.1-1.1 1.8-1.5zm-4.1-52.2c.1.1.1.2.2.3-.4.2-.9.5-1.5.8.3-.8.8-.8 1.3-1.1zm-1.6 2.4c-.7-.1-1.1-.1-1.6-.1.8-1 .8-1 1.6.1zm-1.8 1.3c.3 0 .6 0 .9.1v.3c-.3 0-.6-.1-.9-.1 0-.2 0-.2 0-.3zm-1.4 3v1.1h-.2c0-.4 0-.7 0-1.1zm.9 13.4c.7-.7 1.7-.7 2.7-.4.3.1.7.3 1 .2 1-.3 1.4.3 1.7.9.7 1.6 1.2 3.2.8 5-.2.8-.6 1.3-1.3 1.7-1.3.7-2.7.8-4.4 1-1.3.3-2.2-1.2-2.6-3-.5-2.1.6-3.8 2.1-5.4zm-.4 64.6c.1 1.4 0 1.5-2.5.6 1.2-.3 1.9-.5 2.5-.6zm-3.3-3.6v-2.7c.5.2.9.3 1.6.5-.4.7-.8 1.3-1.6 2.2zm1.7-13.1c.2 0 .3 0 .5-.1.2 1.1.3 2.1.5 3.2h-.8c0-1-.1-2.1-.2-3.1zm.5-6.1c.1-1.2.1-1.2 1.4-1.2-.4.4-.9.8-1.4 1.2zm.9-3.9c-1.1.3-2.2.5-3.3.8 0-.2 0-.4 0-.6 1.1.3 1.9-1.8 3.3-.2zm-3.5 25.7c.1 0 .3.1.5.2l-.6 1.2c-.2-.6-.3-.8-.3-.9.1-.2.2-.4.4-.5zm-.8-24.2c.1 0 .2 0 .3.1-.1.3-.1.7-.2 1-.1 0-.2 0-.3-.1.1-.3.2-.6.2-1zm0 20.7c-.3 0-.7.1-1.1.1 0-1.1.5-1 1.1-.1zm-1 .7c-.3.8-.5 1.3-.7 2-1.1-1-.6-1.4.7-2zm.3-10.5c-.8.3-1.5.6-2.3.9-.2-.2-.2-.2-.2-.3.8-.4 1.5-.8 2.3-1.2.1.2.2.4.2.6zm-1.6 7.2c-.5.3-.9.6-1.4 1v-2.8c.6.8.9 1.2 1.4 1.8zm-.8-11.8c.2.1.3.1.5.2-.2.6-.4 1.2-.7 2.1-.8-1.4.2-1.7.2-2.3zm1.1-4.9c.1.1.1.3.1.4-.6.2-1.1.4-1.7.6-.1-.1-.1-.3-.2-.4zm-2 41.4c.1.1.3.2.4.3v-12h8.8v34.5h-3.7v.1c-.3.1-.5.3-.8.4 0-.1-.1-.2-.2-.2.1-.1.2-.2.3-.2h-4.5v-22.3c-.2.3-.5.6-.7.9-.1-.1-.2-.1-.3-.2.2-.5.5-.9.7-1.3zm-1.6 45c-.2-1.2.3-1.6 1-2 1-.5 1.9-1 2.9-1.5-.6 1.6-2.5 2-3.9 3.5zm1.5 12c-.4.1-.6.3-.9.3-.1 0-.3-.4-.3-.4.2-.2.4-.4.6-.4s.4.3.6.5zm-6.1-37.6c0-.2 0-.4 0-.6 1.1.2 2-1.8 3.3-.2-1.1.2-2.2.5-3.3.8zm1.9 20.1c-.5.6-.9 1.2-1.6 2.1v-2.7c.5.3.9.4 1.6.6zm.6-17.1c.1-1.2.1-1.2 1.4-1.2-.5.4-1 .8-1.4 1.2zm.5 9.2h-.8c-.1-1-.2-2.1-.2-3.1.2 0 .3 0 .5-.1.1 1.1.3 2.2.5 3.2zm-2-46.5c-.1-1.4-.1-1.4 2.1-2.3.4-.9.7-1.8 1.2-3.1.4 1.2.6 1.8.8 2.6-1.2.8-2.5 1.7-4.1 2.8zm2.7-9.2c0-.1.3-.2.5-.4.2.2.3.3.4.5-.2.1-.4.3-.6.4-.1-.1-.3-.4-.3-.5zm3.1 59.3c.3-.2.6-.4.8-.5.1.2.2.3.2.5-.3.1-.6.2-.9.4.1-.2 0-.3-.1-.4zm1.7 9c-.1.8-.2 1.2-.2 1.7-1-.6-1-.6.2-1.7zm-1.8-16.9c1.1-.1 2-.2 3-.2-1.2 1-1.9 1.1-3 .2zm2.3 1.3c.4-.2.8-.3 1.3-.3-.1.1-.3.2-.4.3-.3.2-.7.3-1 .5-.1-.1-.1-.2-.2-.3.1 0 .2-.1.3-.2zm-4.8-68.8c0-.1 0-.1 0 0 .3-.7.3-.7 1.2-.4-.5.2-.9.3-1.2.4-.2.5-.4.9-1.2 1.3.3-.8.4-1.3 1.2-1.3zm.2 11.1c-.5.7-.8 1.1-1.1 1.6-.7-.2-1.3-.3-2.4-.6 1.3-.4 2.2-.7 3.5-1zm-4.1 9.2c-1.6-2-2.6.7-4.4.4.7-.6 1.1-1.3 1.6-1.5 1.7-.3 1.9-.1 2.8 1.1zm-2.1-11c.1.1.2.1.2.2-.1.2-.1.5-.2.6-.3.3-.7.5-1.1.7-.1-.1-.2-.3-.3-.4.5-.4.9-.7 1.4-1.1zm-1-6.2c.1.4.2.7.3 1-.9-.1-.9 2-2.4.8.8-.6 1.4-1.2 2.1-1.8zm-5.7-.2c.2.2.4.4.4.6 0 .1-.2.3-.4.4-.1-.1-.4-.3-.4-.5 0-.1.3-.3.4-.5zm-.8 3.9c.2.1.3.3.4.5 0 .1-.2.3-.4.6-.2-.4-.3-.6-.4-.8 0-.1.3-.3.4-.3zm-1.7 1.3c.1.1.2.1.3.2-.2.4-.4.7-.6 1.1-.1-.1-.2-.2-.4-.3.3-.3.5-.7.7-1zm-2.5 5.5c.4.1.8.3 1.2.4-.1.2-.1.3-.2.5-.4-.2-.7-.4-1.1-.6-.1 0 .1-.3.1-.3zm.4 5.1c-.4.7-.6 1.1-.9 1.5-.7-.8-.5-1.2.9-1.5zm-3.1-5.2c.1.6.2 1.2.3 1.8-.1 0-.3.1-.4.1-.1-.6-.3-1.2-.4-1.8.2-.1.4-.1.5-.1zm-1.9 2.7c.1.1.3.1.4.2-.2.3-.3.7-.5 1-.1-.1-.3-.1-.4-.2.1-.4.3-.7.5-1zm-1.7 2c.1.1.1.2.2.2l-.4.4c-.2.1-.5.2-.7.2-.1-.1-.1-.2-.1-.4.3-.1.7-.3 1-.4zm-3.9-36.8c0 .1 0 .1.1.2-.3.1-.5.2-.8.3 0-.1-.1-.2-.1-.2.2-.2.5-.2.8-.3zm-3.7 96.8c-.1-.6-.3-1.2-.4-1.8.2 0 .3-.1.5-.1l.3 1.8c-.2 0-.3.1-.4.1zm2.3 4.9c-.7-.8-.5-1.2.9-1.5-.5.7-.7 1-.9 1.5zm1.3-5.8c-.4-.2-.7-.4-1.1-.6 0 0 .1-.3.2-.3.4.1.8.3 1.2.4-.1.2-.2.4-.3.5zm1.3-5.1c-.1-.1-.2-.2-.4-.3.2-.3.4-.7.7-1 .1.1.2.1.3.2-.1.4-.4.8-.6 1.1zm2-1.4c-.2-.4-.3-.6-.4-.8 0-.1.3-.3.4-.3.2.1.3.3.4.5 0 .1-.2.3-.4.6zm.9-4.1c-.1-.1-.4-.3-.4-.5 0-.1.2-.3.3-.5.2.2.4.4.4.6.1.1-.2.2-.3.4zm-3.3-3.9-.6-.1v-33.7l.6-.1c2-.3 6-.7 9.8-.7 5 0 7.7.5 10.2 1.9 2.7 1.4 4.3 4 4.3 7.1 0 3-1.6 5.4-4.4 7 3.5 1.5 5.6 4.5 5.6 8.2 0 3-1.3 5.7-3.7 7.6-2.3 1.8-5.8 2.8-10.8 3.1 0 .2-.1.4-.1.6-.4-.1-.8-.2-1.2-.4 0-.1.1-.1.1-.2h-1.4-.1c-4.4.2-7.1-.1-8.3-.3zm18.8 3.7c.2.1.3.1.5.2l-.7 2.1c-.7-1.3.2-1.7.2-2.3zm-.5-3.8c-.1-.1-.1-.3-.2-.4.6-.2 1.1-.4 1.7-.6.1.1.1.3.1.4-.4.1-1 .4-1.6.6zm2.7 7.8c.1.2.2.4.2.6-.8.3-1.5.6-2.3.9-.2-.2-.2-.2-.2-.3.8-.4 1.6-.8 2.3-1.2zm.2-1.6c.5-.3 1-.6 1.5-.9 0 .1.1.1.1.2-.5.3-.9.7-1.4 1-.1-.1-.2-.2-.2-.3zm-9.7 5.8c-.4.1-.8.2-1.3.3 0-.1-.1-.3-.1-.4.4-.1.8-.2 1.3-.3.1.2.1.3.1.4zm-1.6-2.6c.1.1.2.1.2.2-.1.2-.1.5-.2.6-.3.3-.7.5-1.1.7-.1-.1-.2-.3-.3-.4.5-.3 1-.7 1.4-1.1zm-3.1-4.4c.8-.6 1.4-1.2 2.1-1.8.1.4.2.7.3 1-.9-.1-.9 2-2.4.8zm.7 66.4c-.3-.1-.5-.1-.8-.2 0-.1 0-.2.1-.2l.8.2c-.1 0-.1.1-.1.2zm-1.1-9.7s-.1-.2-.1-.4h2v.2c-.7.1-1.3.2-1.9.2zm1.5-12.7c.9-.4 1.5.1 2.4.7-1.1.2-1.7-.5-2.4-.7zm-.3-28.2c.7-.6 1.1-1.3 1.6-1.5 1.6-.3 1.9-.2 2.8 1.1-1.6-1.9-2.6.8-4.4.4zm10.8-12.7c-1.7 1.6-3.8 2.7-6 3.5 1.7-1.8 3.9-2.6 6-3.5zm-2.3 3.1c-.5.7-.8 1.1-1.1 1.6-.7-.2-1.3-.3-2.4-.6 1.4-.4 2.3-.7 3.5-1zm.2 5.1c-.2.1-.4.3-.6.4-.1 0-.3-.3-.3-.4s.3-.2.5-.4c.2.1.3.2.4.4zm-3.5 9.1c-.1-1.4-.1-1.4 2.1-2.3.4-.9.7-1.8 1.2-3.1.4 1.2.6 1.8.8 2.6-1.3.9-2.5 1.7-4.1 2.8zm2.5 39.5c0-.1 0-.2 0-.3.7-.1 1.4-.1 2.1-.2v.4c-.7 0-1.4.1-2.1.1zm2.3-23.2c-.1-.1-.2-.1-.3-.2.2-.4.4-.8.7-1.2.2.1.3.2.5.3-.4.4-.6.8-.9 1.1zm.6-25.1v-2.8c.6.8 1 1.2 1.4 1.8-.5.4-.9.6-1.4 1zm2.1 4.3c-1.2-1-.6-1.4.7-2-.3.9-.5 1.4-.7 2zm.6-2.6c0-1.1.4-1 1.1-.1-.4 0-.7.1-1.1.1zm1.8 4.8c-.2-.6-.3-.8-.3-.9 0-.2.2-.4.4-.4.1 0 .3.1.5.2-.2.1-.3.4-.6 1.1zm1.2.2c1.2-.3 1.9-.4 2.5-.6.2 1.4 0 1.5-2.5.6zm1.8 5.4c.2.1.4.2.6.2-.3.5-.5 1-.8 1.4-.2-.1-.3-.2-.5-.2.3-.4.5-.9.7-1.4zm0 13c.1.2.3.4.3.5 0 .2-.2.3-.3.6-.2-.2-.5-.4-.4-.6 0-.2.2-.4.4-.5zm.1 25c.6-.6.9-.1 1.3.1-.4-.1-.7-.1-1.3-.1zm6.2-2.5c-.1-.3-.2-.6-.4-1h-6.3c0-.1 0-.2 0-.3 2.2-.8 4.4.5 6.7-.4.1.8.2 1.3.2 1.7zm-2.3-5.6c.9-.1 1.5-.2 2.1-.3 0 .1 0 .2.1.3-.6.2-1.2.6-2.2 0zm2.9-7.1c-.3-.3-.5-.6-.7-.8-.4.3-.8.6-1.2.9-.3-.3-1.1-.2-.8-1.1.5.1 1.1.7 1.5-.3.1-.3.9-.4 1.5-.6-.2.6-.3 1.1-.3 1.9zm-.6-13.2c-.6-.9-.5-1.3.9-1.6-.4.8-.6 1.1-.9 1.6zm-.3-5.6c-.1-.1-.2-.1-.2-.2.2-.7.4-1.3.6-2.1.3.3.6.5.9.7-.5.7-.9 1.1-1.3 1.6zm1.3-14.9c.6-.8 1.4-1.6 2.3-2.6.3.6.5 1 .7 1.3-.9.8-1.7 1.6-2.6 2.4-.4-.1-1-.4-.4-1.1zm1.9 18.5c-.2-.1-.4-.3-.5-.4.4-.5.9-1 1.3-1.5.1.1.3.2.4.3-.4.5-.8 1.1-1.2 1.6zm3.5-2.8c-1.1 1.1-1.6.4-2.2-.6.8.3 1.4.4 2.2.6zm4 41.1c-2 .3-4-.3-6-.4h6zm.2-19.8c.3-.1.7-.1 1-.2v.4h-1c0-.1 0-.1 0-.2zm.9 14.4c.4.3.7.6 1.2.9-.5.2-.9.3-1.5.5.1-.6.2-.9.3-1.4zm6 5.6c-2.1.3-4.1-.3-6.1 0 0-.2 0-.4.1-.6 4 .6 8.1-.1 12.1.3-2 .5-4.1 0-6.1.3zm5.3-4.7c.2-.3.4-.7.5-.7.5 0 1.1.1 1.7.1-.6.4-1.2.9-2.2.6zm.3-36.5c.6-1.4 2 .3 2.6-.9-.6 1.5-1.7.9-2.6.9zm5.2-4.8h-.4c0-.4 0-.8-.1-1.3h.4zm-2.4-8.7c1.3-1.7 2.4-2 3.2-1-1.1.3-2.1.6-3.2 1zm3.5 35.9c0-.1-.1-.2-.1-.4l1.1-.1v.2c-.3.1-.7.2-1 .3zm1.9-29.7c-.1-.6-.2-1.3-.2-1.9h.4l.3 1.8c-.2 0-.4.1-.5.1zm1.6 24.6c-.1 0-.3-.2-.3-.2.1-.2.1-.4.3-.4.1 0 .3.1.6.3-.3.1-.4.3-.6.3zm-1-30.9c.7-.3 1.2-.5 1.8-.7-.6 1.7-.6 1.7-1.8.7zm3-1c.3-.6.5-1 .9-1.7.4.5.8.8.8 1.1-.1.7-.6 1-1.7.6zm1.8 2.9c1 .9.6 1.5-.3 2.4.2-1 .3-1.7.3-2.4zm1.3 45.9c-.5.2-.9.3-1.4.5.3-.8.9-.6 1.4-.5.6 0 1.2.1 1.8.2-.7.1-1.4.9-1.8-.2zm2.7.4c.5-.4 1-.9 1.8-.2-.6.8-1.2.3-1.8.2zm1.8-104.8c-.1-.6-.2-1.3-.2-1.9h.4c.1.6.2 1.2.3 1.8-.2.1-.4.1-.5.1zm-.1-63.6c.2-.6.2-.9.3-1.2.4.4.4.4-.3 1.2zm.7 57.4c.7-.3 1.2-.5 1.8-.7-.6 1.7-.6 1.7-1.8.7zm1.2 45.8c-.1-.1-.2-.2-.2-.3.3-.3.7-.6 1-.9.1-.1.4.1.9.3-.7.4-1.2.6-1.7.9zm2.8-123.4c.3.3.6.5.9.7s.6.5.9.7l-.2.2c-.9-.5-1.7-1.1-2.7-1.7.4-.3.7-.2 1.1.1zm-1.1 76.6c.3-.6.5-1 .9-1.7.4.5.8.8.8 1.1-.1.7-.6 1-1.7.6zm1.6 5.3c.1-1 .2-1.7.3-2.4 1.1.9.6 1.5-.3 2.4zm1.3-62.9c.1.5.1.8.2 1.3-.8-.4-.7-.7-.2-1.3zm.1 160.2c0-.1 0-.1 0-.2h1.3v.2zm.1-27c-.1-.2-.2-.4-.4-.6 1-.2 1.1-1.9 2.8-1.2-.9.7-1.7 1.2-2.4 1.8zm2.4-133.6c.5-1 1.2-1.9 2-2.6.7-.7 1.6-1.2 2.4-.9 1.9 0 2.5.6 2.7 2.2.3 2.5-.3 3.7-2.6 4.9-.4.2-.9.2-1.3.2-.8-.1-1.6-.3-2.3-.6-.9-.5-1.5-2.2-.9-3.2zm6.7 22.9c-.1.1-.2.1-.3.2-.2-.2-.3-.5-.5-.7.1-.1.2-.1.3-.2.2.2.3.4.5.7zm-1.1 18.2c-.7.4-1.2.6-1.7.8-.1-.1-.2-.2-.2-.3.3-.3.7-.6 1-.9.2 0 .4.2.9.4zm-3.7 134.6c.5-.2.9-.3 1.4-.5 0 .8 0 .8-1.4.5zm-.7-11.1c.9-.8 1.6-.6 2.6-.5-.9.7-1.6.4-2.6.5zm1.5-38.9c0-.2-.1-.3-.2-.5.9-.3 1.8-.5 2.8-.8.1.2.1.3.2.5-1 .3-1.9.5-2.8.8zm4.1 30.7c0-.1 0-.2 0-.3.2 0 .4-.1.6-.1h.3v.4c-.3-.1-.6-.1-.9 0zm-3.7-54.5v-34.5h21.6v7.5h-12.7v6.2h11.9v7.5h-11.9v13.3zm19.5 68.5c0 .1 0 .2.1.2h-2c0-.1 0-.2 0-.2zm-2.6-31.3c.5-1.3.5-1.3 1.9-.7-.8.3-1.3.5-1.9.7zm1.3-31.1c.5-.8.5-.8 1.6-.8-.5.3-1.1.6-1.6.8zm-7.5-2.9-.1.1c-.2 0-.5-.1-.7-.1-.1 0-.2 0-.3.1-.3-.2-.6-.3-1-.4zm-4.5 9.5c0-.2 0-.3-.1-.5.4-.1.9-.1 1.3-.2 0 .1 0 .2.1.3-.4.1-.8.2-1.3.4zm1.5-8.3c-.1-.1-.2-.2-.3-.3.1 0 .2 0 .3-.1.1 0 .2.1.3.1s.1.1.2.1c.1.1.2.1.3.1s.2.1.4.1c.1 0 .1.1.2.1-.5-.1-1-.1-1.4-.1zm.7 7.5c.7-1.2 4.1-3.1 6-3.4-1.9 1.6-3.9 2.6-6 3.4zm4.8 27.6c-.3.2-.6.4-1 .6-.1-.3-.2-.6-.4-1.1.7.2 1 .4 1.4.5-.2-1.1.7-1.2 1.6-1.2-.5.4-1 .8-1.6 1.2.1 0 .1 0 0 0zm1.1 34.7c0-.2-.1-.3-.1-.5.3-.1.6-.2 1-.2 0 .1.1.2.1.4-.4 0-.7.2-1 .3zm.6-43c-.2-.1-.2-.2-.3-.2.4-.5.7-1.2 1.7-.5-.5.2-1 .5-1.4.7zm-.1-17.6c1.3-.2 1.7.1 1.7 1.6-.7-.6-1-1-1.7-1.6zm3.2 60.7c-.4-.3-.7-.5-1.2-.8.7-.5 1.2.1 1.7 0 0 .1 0 .2.1.3-.2.2-.4.3-.6.5zm.9-.8c.7-.3 1.1.2 1.5.4-.5.1-1 .3-1.5-.4zm4.1-4.7c-.8 0-1.6-.1-2.4-.1 0-.1 0-.3 0-.4.8.1 1.6.2 2.4.3zm.3-65.8c-.4 0-.8 0-1.3.1-.6.1-1.1.1-1.7.2-.1-.1-.2-.1-.3-.1h-.6c1.4-.1 2.7-.3 4-.5h.1v.4c0-.1-.1-.1-.2-.1zm1.1-26.3c-.3.2-.6.4-1 .6-.1-.3-.2-.6-.4-1.1.6.2 1 .3 1.4.5-.2-1.1.6-1.2 1.5-1.2v-7.3l-.1-.1.1-.1v-2.5h8.8v34.5h-8.8v-24.5c-.5.4-1 .8-1.5 1.2zm8.3 94.1c-.2.1-.3.2-.4.2s-.2-.1-.3-.2c.1-.1.2-.2.3-.2.1-.1.2.1.4.2zm-2.8-37.9c.6-1.1 1.2-.8 1.7-.3-.5.1-.9.2-1.7.3zm1.3 37.8v.2h-.8c0-.1 0-.2 0-.3.2 0 .5 0 .8.1zm-1.1-30.6c-.6.4-1.1.8-1.6 1.2.4-1.5.4-1.5 1.6-1.2zm-1.2-33.7c-.4.2-.7.4-1.1.6-.1-.1-.1-.2-.2-.3.4-.2.8-.4 1.2-.5 0 0 0 .1.1.2zm-3.8 36.1c.7-.5 1.2-.8 2.1-1.3-.4 1.4-1 1.5-2.1 1.3zm1.4-40.8c-.1.1-.1.1 0 0h-.1-.3c.6-.2 1.1-.5 1.6-.7v.2c-.1.1-.2.1-.4.2s-.5.2-.8.3zm1 9.1h1.4v.4c-.5.1-1 .1-1.4.2 0-.2 0-.4 0-.6zm.1 60.1c.6-.1 1.1-.2 1.7-.3v.3c-.5.1-1.1.2-1.6.3 0-.1-.1-.2-.1-.3zm3.3 4.9c-.1-.1-.2-.3-.2-.4.3-.1.6-.3.9-.4l.2.3c-.3.1-.6.3-.9.5zm-3-2.3c1.6-.5 3.3-.4 4.9 0zm5.4-11.1c0-.3.1-.6.1-.9.5.6.5.6-.1.9zm.7 11.3c.6-.7 1-.6 1.5-.3-.4 0-.8.1-1.5.3zm1.8-2.3c-.1-.1-.2-.1-.3-.2 0-.1-.1-.3 0-.3.1-.1.3-.2.4-.2 0 .1.1.2.1.2 0 .1-.1.3-.2.5zm1-166.8c0 .1.1.2.1.3-.2.1-.4.3-.6.4 0-.1-.1-.2-.1-.2.2-.2.4-.3.6-.5zm1.5 73.7c-.3 1.5-.9 1.6-2.1 1.3.8-.4 1.3-.7 2.1-1.3zm-1 84c.5-.8 1.1-.9 1.9-.7v.3c-.6.1-1.2.2-1.9.4zm2.2 11.1v.2c-.3 0-.6 0-.9.1 0-.1 0-.1-.1-.2.4 0 .7 0 1-.1zm-3 .4c0-.1 0-.2-.1-.3.3-.1.6-.1.9-.2 0 .1 0 .2.1.3-.3 0-.6.1-.9.2zm1.5-2.6c-.3 0-.6.1-1 .1 0-.1 0-.2-.1-.3.2-.1.4-.2.6-.2s.3.1.5.1zm.2 4.1h1.3c-.5.6-.8.5-1.3 0zm-.3-19.5c0-.1 0-.2 0-.3h2.5c-.9.6-1.7.3-2.5.3zm2.1-49.7c-.1 0-.3-.2-.5-.3.2-.2.3-.4.4-.5l.5.5c-.1.1-.2.3-.4.3zm1.5 65.9c-.1-.3-.3-.6-.4-.9.1 0 .1 0 .2-.1.2.3.3.6.5.8-.1 0-.2.1-.3.2zm2.4-19.9c-.4.1-.7.3-1.3.5.3-.7.7-.9 1.3-.5zm-1.1 23.8c0-.2-.1-.3-.1-.5.4 0 .8-.1 1.2-.1 0 .1 0 .2.1.3-.4.1-.8.2-1.2.3zm2.7-36.1c-.4-.3-.7-.5-1.1-.8.1-.1.2-.2.3-.4.4.2.7.5 1.1.7-.2.2-.2.4-.3.5zm2.6 15.8c-.8-.1-1.6-.2-2.4-.2.9-.3 1.7-.5 2.4.2zm-1.6 14.6c-.2-.1-.4-.3-.6-.4 0-.1.1-.1.1-.2.2.1.5.2.7.3 0 .1-.1.2-.2.3zm.6 5.4c0-.1-.1-.2-.1-.3.3-.1.5-.2.8-.3 0 .1.1.2.1.3-.3.2-.5.2-.8.3zm3.2-.7h3.6c-1.2.5-2.2.6-3.6 0zm5-2c-.2.5-.5.5-1 .2.3-.1.7-.1 1-.2.6-.8.9-.5 1.3.5-.5-.2-.9-.3-1.3-.5zm-.9-8.1c0-.1 0-.2 0-.3h4.9c-.8 1-1.7 1.1-4.9.3zm2.6-19.2c.9-.9 2.3-1.7 3-1.7-.7 1.1-1.8 1.2-3 1.7zm3 27.8c-.1-.1-.2-.2-.3-.2.2-.2.4-.4.5-.6.1 0 .1.1.2.1-.1.3-.2.5-.4.7zm1.2-30.1h-.2c0-.1 0-.1 0-.2-.7.3-1.4.5-2.1.7.2-.4.2-1 .5-1.1 2-.5 3.1-2.6 5.4-2.8 1.3-.1 1.5-1.5 2-2.5v1.3c1.5-1 3.6-1 3.9-3.2-.1 0 0 0 .1 0 .2.2.4.4.6.7 2-1.1 4-2.2 5.9-3.3.1.1.2.3.3.4-1 .8-1.9 1.7-3.1 2.2-2.6 1.2-5 2.8-7.3 4.4-.4.3-.9.5-1.3.7-.7.4-1.4.9-2.1 1.2-.3.1-.5.2-.8.4h.1c-.1.2-.1.5-.2.7h-.2c0-.2 0-.3.1-.5-.5.2-1 .5-1.5.7-.1 0-.1.1-.1.2zm8-7.5c-.9-.1-1.4-.1-2.2-.2.9-.9.9-.9 2.2.2zm-.7-7.6c.3-.6.7-.8 1.3-.3-.4.1-.8.1-1.3.3zm3.2-1.7c-.1-.2-.1-.3-.2-.5.4-.1.8-.3 1.2-.4 0 .1.1.2.1.3-.3.3-.7.5-1.1.6zm1.7 4.3v.1c-.6 0-1.1.1-1.7.1 0-.1 0-.1-.1-.2zm1.5-10.7c-.1-.1-.2-.3-.2-.4.5-.3 1-.5 1.6-.8.1.1.1.3.2.4-.6.3-1.1.6-1.6.8zm1.6 5.1c.1.1.1.2.2.3-.5.2-.9.4-1.5.7.2-1 .8-.8 1.3-1zm-.9 15.2c.1.2.2.3.3.5-.5.4-1 .7-1.7 1.3.1-1.4 1-1.4 1.4-1.8zm-1-.4c.2-.2.4-.3.6-.5.1.1.2.2.2.3-.2.2-.4.3-.6.5 0 0-.1-.2-.2-.3zm-2.6 3.4c-.1.2-.4.3-.6.5 0-.3-.1-.5 0-.8.1-.2.2-.4.4-.7-.5.2-1 .3-1.6.4.9-.6 1.7-1.1 2.6-1.7.1.1.1.2.2.3-.3.4-.6.7-1 .9.1.5.1.8 0 1.1zm-2.3 8.6c0 .2.1.4.1.5-1.1.2-2.1.4-3.2.5 0-.1-.1-.3-.1-.4 1-.4 2.1-.5 3.2-.6zm-7.9 7.9c2.3 0 4.7-.9 7.3.4-2.6.1-5 .2-7.3-.4zm8.5.7c-.1-.1-.1-.2-.1-.3.4-.1.8-.2 1.2-.3 0 .1 0 .2.1.2-.5.1-.9.3-1.2.4zm-.7-4.5h4.2c-1.4.2-2.7 1-4.2 0zm1.3-9.5c-.7.5-1.5.9-2.3 1.4-.2.1-.5.1-1.1.1 2.9-2.1 5.6-3.9 8.2-5.8.4-.3.6-.9 1-1.4.9-.1 1.8-.3 2.5-1.2.5-.6 1.7-.8 2.6-1.2.1.1.1.2.2.3-.9.7-1.7 1.3-2.6 2-.1.1-.2.1-.3.1-.3.4-.4 1.2-1.2.8-.1 1.2-1.4.6-1.9 1.4-.4.6-1.5.8-2.2 1.2-1 .9-1.9 1.7-2.9 2.3zm7.4-23.1c.9-.3 1.8-.6 2.7-.9-.7.8-1.5 1.4-2.7.9zm1.1 14.1c-.1-.1-.2-.1-.3-.2.2-.3.3-.5.5-.8.1-.3.2-.6.3-.9.6.9-.5 1.3-.5 1.9zm8.5 3.4c-2 1.7-3.9 3.5-6.5 4.5-.1-.2-.1-.4-.1-.4 2.2-1.4 4.4-2.8 6.6-4.1zm-5.1-3c.1-.1.3-.2.4-.3.1.1.3.3.3.4-.1.1-.3.2-.4.4-.2-.2-.4-.4-.3-.5zm3.6-1.3c-.1 0-.3 0-.4.1 0-.3-.1-.7-.2-1.3.8.4.9.8.6 1.2zm0-17.2c.5-.2.9-.4 1.4-.5 0 .2.1.3.1.5-.4.2-.9.3-1.3.5-.1-.2-.2-.4-.2-.5zm2.5 35.2c.1 0 .2.1.3.1-.6.1-1.3.2-2.1.3.1-.1.3-.2.4-.3.5 0 1 0 1.4-.1zm-.6-9.7c.2 0 .5 0 .7-.1v.3h-.7s0-.1 0-.2zm-3.3 3c.3-.5.5-.9.9-1.5.4 1.2-.1 1.4-.9 1.5zm-5.1-1.2c0 .1 0 .4-.1.4-.3 0-.6.1-.9.1 0-.2 0-.3 0-.5.4-.1.7 0 1 0zm-2.9 22.9c-.4-.1-.8-.1-1.2-.2 0-.1 0-.2 0-.3.4 0 .8.1 1.2.1zm-.1-3.7c.9-.7 2.5-.8 3.8-.3-1.5.2-2.6.2-3.8.3zm3.4 7.2c0-.1 0-.2 0-.4.7 0 1.3.1 2 .2-.6.6-1.3.5-2 .2zm3.3-7.7c.5-.4.8-.6 1.2-.9.1.3.3.5.5.9zm1.6-10.2c0-.1 0-.3 0-.4h.3.7v.3c-.4 0-.7 0-1 .1zm2.2-9.6c.1.1.2.1.2.2-.2.2-.4.5-.6.7-.1-.1-.2-.2-.3-.3.3-.1.5-.4.7-.6zm.4 26.7c0 .4-.1.8-.6.6-.2-.1-.2-.6-.3-.9h1.1c0 .1-.1.2-.2.3zm-.9-8.1c.5.2.9.4 1.3.7-1.4.1-1.4.1-1.3-.7zm1.9 8.7c.3-.3.5-.6.9-1.1.2.9.2.9-.9 1.1zm.6-28.6c.4-.4.8-.9 1.1-1.3.8.7.7 1-1.1 1.3zm-.1-4.2c-.1-.1-.2-.2-.2-.3.6-.4 1-1 2.2-.7-.9.5-1.4.7-2 1zm1.1-13.9c-.2-.8-.3-1.2-.5-1.8.5.3.9.4 1.4.7-.3.4-.5.6-.9 1.1zm1.1 45.8c0-.1 0-.1 0-.2.4-.1.9-.1 1.3-.2v.4zm.7-29.8c.1 0 .2.1.3.1-.1.3-.3.6-.4 1-.7-.6-.2-.9.1-1.1zm-.4-11.5h.4c0 .2-.1.5-.1.7h-.2c0-.2-.1-.4-.1-.7zm-5.7-30.9v-13.9h-11v13.9h-8.8v-34.5h8.8v12.7h10.9l.1-.1v-12.6h8.8v34.5zm7.6 44.7c.1-.6.3-1.1.9-1 .1.1.1.3.2.4-.4.2-.8.4-1.1.6zm.3-3.5c.7-.5 1.3-1 2-1.5-.5.8-.8 1.8-2 1.5zm1.6 1.9c-.1-.1-.2-.2-.3-.3.2-.1.5-.3.7-.4 0 .1.1.1.2.2-.2.2-.4.4-.6.5zm.6-18.4h-2.2c0-.1 0-.1 0-.2.8 0 1.5-.1 2.3-.1zm-1-1.6c-.1-.1-.2-.2-.2-.3.5-.3 1-.7 1.5-1 .1.1.2.3.3.4-.6.2-1.1.5-1.6.9zm2.3-66.3c.5-.2.9-.4 1.4-.5 0 .2.1.3.1.5-.4.2-.9.3-1.3.5-.1-.3-.1-.4-.2-.5zm.8 83.9c.2.1.3.2.4.4 0 0-.2.2-.3.4-.2-.2-.3-.3-.3-.5-.1-.1.2-.4.2-.3zm3.9 25.6c-.1-.1-.3-.2-.4-.2.2-.3.4-.5.7-.8.1 0 .1.1.2.1-.2.3-.3.6-.5.9zm1.3-11.5c-.6-.2-1.2-.5-1.9-.7-.6-.2-1.2-.2-1.8-.5 1.5-.5 2.7.2 3.7 1.2zm-3 14.8c0 .1.1.2.1.3-.6.4-1.2.8-1.9 1.2-.2-.5-.3-.8-.4-1.2.8 0 1.5-.2 2.2-.3zm-1.6-48.1c0-.1-.1-.2-.1-.3.3-.1.5-.3.8-.4.1 0 .2.1.6.2-.6.3-1 .4-1.3.5zm2.2-59.7c.5.3.9.4 1.4.7-.3.3-.5.6-.9 1.1-.3-.7-.4-1.2-.5-1.8zm1.6 57.8c-.3.1-.6.1-1 .2.2-.7.6-.6 1-.2zm-.7 18.8c-.1 0-.3-.1-.2-.1 0-.2.1-.5.1-.7.1 0 .2.1.4.1-.1.2-.2.4-.3.7zm.1-6.7c-.1-1 .4-1.2 1-1.4-.3.5-.6.9-1 1.4zm4.6-12.8c-.4.2-.8.4-1.4.6.3-.9.8-.7 1.4-.6zm-1.4 17.6h-.2c-.1-.3-.2-.5-.3-.8.1 0 .2-.1.3-.1.1.1.2.3.2.4zm.8-.7c.2-1 .2-1 1.1-1.3-.4.5-.7.9-1.1 1.3zm.2-75.6c-.1-.1-.2-.2-.2-.3.5-.3 1-.7 1.5-1 .1.1.2.3.3.4-.5.3-1.1.6-1.6.9zm3.1 73.6c-.5-.3-.6-.7-.4-1h.4zm4.8-15.5c.4.3.7.6 1.2 1-.8-.1-.8-.1-1.2-1zm2.3 11.7s-.3.1-.4 0c-.3-.3-.4-.7.3-1.3.1.6.1 1 .1 1.3z'/%3E%3Cpath d='m299.5 211.1c0 .2.1.4.1.7.1 0 .2-.1.2-.1 0-.2-.1-.4-.1-.6 0-.1-.1 0-.2 0z'/%3E%3Cpath d='m301.4 211c.1 0 .2-.1.3-.1h-.3z'/%3E%3Cpath d='m162.2 154.1v-.7.7h-1.9v8.1h1.8.4c1.7 0 5.7-.4 5.7-4.2 0-3.4-3.8-3.9-6-3.9z'/%3E%3Cpath d='m310.5 211c.1 0 .1-.1.2-.1 0-.1 0-.1 0-.2-.1.1-.1.2-.2.3z'/%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m353.4 13.9c-1.5.9-1.7 2.6-1.1 4.1v.1c1.7 4.7 8.6-.1 5.7-3.7-1.2-1.3-3.2-1.3-4.6-.5z'/%3E%3Cpath d='m343.4 5c-1 .4-1.3 1.7-1.2 2.7.2.9.7 1.6 1.5 1.9.5 0 .9-.1 1.3-.2 1-.7 1.4-1.8 1.1-3-.1-1.3-1.6-1.9-2.7-1.4z'/%3E%3Cpath d='m372.6 5.2c-2.3 1.6-3.1 5.6-1.4 7.7.2.5.6 1 1.1 1.3.3.4.7.7 1.2.9 1.6.6 3.4.3 4.9-.4 1.7-.7 3-2.1 3.6-3.9.5-1.7.1-3.5-1.2-4.7-2-2.1-5.7-2.5-8.2-.9zm2.2 7.3h-.1c-.1 0-.2 0-.3-.1 0 0-.1 0-.1-.1-.1 0-.2-.1-.3-.1-.4-.4-.5-.9-.2-1.3.2-.4.7-.5 1.1-.5.7.2 1.4.7 1.3 1.4s-.8.9-1.4.7zm5.4-5.6c-.6-.4-1.2-.7-1.9-.9-.9-.4-1.8-.6-2.6-.7h.4c1.5 0 3.1.5 4.1 1.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-animation: drawArc2 5s infinite ease-in-out;
    animation: drawArc2 5s infinite ease-in-out
}